<div class="profile-about">
	<div class="content">
		<div class="title">
			<h2>Giới thiệu</h2>

		</div>
		<div class="infos">
			<div class="info hometown">
				<div>
					<i class='bx bxs-building-house' ></i>
					<span>Làm việc tại công ty Hoà Phát</span>
					<div><i class='bx bx-dots-horizontal-rounded' ></i></div>
				</div> 
				<div>
					<i class='bx bxs-graduation' ></i>
					<span>Học tại Đại học Mở</span>
					<div><i class='bx bx-dots-horizontal-rounded' ></i></div>
				</div>
				<div>
					<i class='bx bx-current-location'></i>
					<span>Đang sống tại Hải Dương</span>   
					<div><i class='bx bx-dots-horizontal-rounded' ></i></div>
				</div>
			</div>
				<!-- <div class="add">
					<div class="icon">
						<div class="icon-cont">
							<i class='bx bx-plus'></i>
						</div>
					</div>
					<div class="text">Thêm nơi sinh sống</div>
				</div>	 -->
			<div class="info workplace"></div>
			<div class="info school"></div>
		</div>
	</div>
</div>
