<div class="profile-about">
  <div class="content">
    <div class="title">
      <h2>Giới thiệu</h2>

    </div>
    <div class="infos">
      <ng-container *ngFor="let i of [].constructor(5)">
        <div class="skeleton" *ngIf="isLoading"></div>
      </ng-container>
      <ng-container *ngFor="let field of fields">
        <app-profile-about-item [field]="field.field"
                                [text]="field.text"
                                [add]="field.title"
                                *ngIf="(isTimeline && field.value) || !isTimeline"
                                [isProfileOwner]="isProfileOwner"
                                [label]="field.label"
                                [icon]="field.icon"
                                [update]="update"
                                [isEditHidden]="isTimeline"
                                [info]="field.value">
        </app-profile-about-item>
      </ng-container>
    </div>
  </div>
</div>