<div class="notif">
  <div (click)="isPopupVisible = !isPopupVisible"
       id="notifButton"
       [ngClass]="{'active': isPopupVisible}"
       class="button">
    <i class='bx bxs-bell'></i>
    <div *ngIf="unreadCount > 0"
         class="unread">
      {{ unreadCount }}
    </div>
    <div class="markAsRead"></div>
  </div>
  <div [ngStyle]="{'display': isPopupVisible ? 'block' : 'none'}"
       class="popup">
    <div (clickOutside)="isPopupVisible = false"
         [exclude]="'#notifButton'"
         class="popup__inner">
      <div class="title">
        <span>Thông báo</span>
      </div>
      <div class="notif-items">
        <app-notification-item (itemClick)="isPopupVisible = false"
                               *ngFor="let notification of notifications"
                               [notification]="notification">

        </app-notification-item>
      </div>
    </div>
  </div>
</div>
