@import "src/styles";

.chat-msg {
	width: 100%;
	display: flex;
	position: relative;


		.content {
			max-width: 80%;
			display: flex;
			padding: 1px 0px;

			.avatar {
				visibility: hidden;
				display: flex;
				margin-right: 10px;
				flex-direction: column;
				justify-content: flex-end;

				.avatar-container {
					@extend %avatar;
					width: 28px;
					height: 28px;
				}
			}

			.body {
				.text {
					word-wrap: break-word;
					word-break: break-word;
					padding: 7px 10px;

				}
			}
		}


		.my-msg {
			width: 100%;
			display: flex;
			justify-content: flex-end;

			.text {
				background-color: #0084ff;
				color: #fff;
				border-radius: 18px 4px 4px 18px;
			}

			.first-msg {
				.text {
					border-top-right-radius: 18px;
				}
			}

			.last-msg {
				padding-bottom: 10px;

				.text {
					border-bottom-right-radius: 18px;
				}
			}
		}


		.your-msg {
			width: 100%;

			.text {
				background-color: #e4e6eb;
				border-radius: 4px 18px 18px 4px;
			}

			.first-msg {
				.text {
					border-top-left-radius: 18px;
				}
			}

			.last-msg {
				padding-bottom: 10px;

				.text {
					border-bottom-left-radius: 18px;
				}

				.avatar {
					visibility: visible;
				}
			}
		}

}