<div class="group">
  <div class="sidebar-below"
       *ngIf="group?.role == 'ADMIN'">
    <div class="group-sidebar">
      <div class="title">
        <span>Quản lý nhóm</span>
      </div>
      <div class="group-meta">
        <div class="hide">
          <i class='bx bx-slider'></i>
        </div>
        <div class="cover-img">
          <img [src]="group?.coverPhotoUrl">
        </div>
        <div class="name--privacy">
          <div class="name">
            <span>{{ group?.name }}</span>
          </div>
          <div class="privacy">
            <div *ngIf="group?.isPrivate">
              <i class='bx bxs-lock-alt'></i>
              <span>Nhóm riêng tư</span>
            </div>
            <div *ngIf="!group?.isPrivate">
              <i class='bx bx-globe'></i>
              <span>Nhóm công khai</span>
            </div>
          </div>
        </div>
      </div>
      <div
        class="home">
        <a routerLink="/groups/{{group?.id}}"
           routerLinkActive="active-sidebar-tab"
           [routerLinkActiveOptions]="{exact: true}">
          <div class="icon">
            <i class='bx bxs-home'></i>
          </div>
          <span>Trang chủ</span>
        </a>
      </div>
      <div class="tools">
        <div class="tools-title">Công cụ quản trị</div>
        <a routerLink="/groups/{{ group?.id }}/member_request"
           routerLinkActive="active-sidebar-tab"
           [routerLinkActiveOptions]="{exact: true}"
           class="tool">
          <div class="icon">
            <i class='bx bxs-user-plus'></i>
          </div>
          <div class="text">
            <div>Yêu cầu tham gia</div>
          </div>
        </a>
        <a routerLink="/groups/{{ group?.id }}/settings"
           routerLinkActive="active-sidebar-tab"
           [routerLinkActiveOptions]="{exact: true}"
           class="tool">
          <div class="icon-container">
            <div class="icon">
              <i class='bx bxs-cog'></i>
            </div>
          </div>
          <div class="text">
            <div>Cài đặt</div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="group-content">
    <router-outlet></router-outlet>
  </div>
</div>

