<div class="comment-list">

  <div class="comments">
    <app-comment
      *ngFor="let comment of comments"
      [commentResponse]="comment"></app-comment>
  </div>

  <div 
  class="load-comments" 
  *ngIf="!isAllLoaded"
  (click)="getComments()">Xem thêm {{ totalCommentCount - comments.length }} bình luận</div>
  <form [formGroup]="commentForm" (keyup.enter)="submit()">
    <div class="input-container">
      <div class="input-avatar">
        <div class="avatar-container">
          <img [src]="loggedInUserAvatarUrl">
        </div>
      </div>
      <input
        type="text"
        placeholder="Bình luận..."
        autocomplete="off"
        formControlName="comment"/>

      <div
        *ngIf="!image"
        (click)="uploadImage.click()"
        class="add-image-btn">
        <i class='bx bxs-image'></i>
      </div>
    </div>
    <div *ngIf="image" class="upload-image-container">
      <div
        class="upload-image-thumb">
        <img
          [ngClass]="imageSizeRatio < 1 ? 'full-width' : 'full-height'"
          [src]="imgUrl">

      </div>
      <div (click)="clearInput()" class="reset">
        <i class='bx bx-x'></i>
      </div>
    </div>
    <input
    #input
    type="file"
    accept="image/*"
    #uploadImage
    formControlName="fileInput"
    (change)="onSelectImage($event)"/>
  </form>
</div>
