<div class="comment-list">
  <app-spinner *ngIf="!isInitLoaded"
               backgroundColor="transparent"
               style="display: block; margin-top: 10px"
               size="15px"
               ringWidth="2px"
               color="#bbb"
               position="relative">
  </app-spinner>
  <div #commentContainer
       class="comments">
    <app-comment *ngFor="let comment of comments"
                 (deleted)="onCommentDeleted($event)"
                 [comment]="comment">
    </app-comment>
  </div>

  <div class="load-comments"
       *ngIf="!isAllLoaded && isInitLoaded"
       (click)="loadComments()">
    <span>Xem thêm {{ totalCommentCount - comments.length }} bình luận</span>
    <span *ngIf="isLoading"
          style="position: relative; margin-left: 12px"
          class="spinner">
      <app-spinner backgroundColor="transparent"
                   size="13px"
                   color="#333"
                   ringWidth="2px"
                   [displayText]="false">
      </app-spinner>
    </span>
  </div>
  <form [formGroup]="commentForm"
        (keydown.enter)="submit($event)">
    <div class="input-container">
      <div class="input-avatar">
        <div class="avatar-container">
          <img [src]="(principalAvatarUrl | sirv: 40) || 'assets/avatar.jpg'">
        </div>
      </div>

      <div class="textarea-wrapper">
        <textarea type="text"
                  placeholder="Bình luận..."
                  autocomplete="off"
                  #textArea
                  rows="1"
                  (input)="textAreaAutoGrow($event)"
                  formControlName="comment">
        </textarea>
        <app-spinner size="15px"
                     ringWidth="2px"
                     *ngIf="isPostingComment"
                     backgroundColor="rgba(0, 0, 0, .1)"
                     color="#fff">
        </app-spinner>
      </div>
      <div *ngIf="!image"
           (click)="uploadImage.click()"
           class="add-image-btn">
        <i class='bx bxs-image'></i>
      </div>

    </div>
    <div *ngIf="image"
         class="upload-image-container">
      <div class="upload-image-thumb">
        <img [ngClass]="imageSizeRatio < 1 ? 'full-width' : 'full-height'"
             [src]="imgUrl">

      </div>
      <div (click)="clearInput()"
           class="reset">
        <i class='bx bx-x'></i>
      </div>
    </div>
    <input #input
           type="file"
           accept="image/*"
           #uploadImage
           formControlName="fileInput"
           (change)="onSelectImage($event)" />
  </form>
</div>