<div class="friend-list-item">
  <div class="avatar-container">
    <a routerLink="/{{userDto.profileId}}">
      <div class="avatar">
        <img [src]="userDto.avatarUrl | sirv: 100 || 'assets/avatar.jpg'" />
      </div>
    </a>
  </div>

  <div class="body">
    <a routerLink="/{{userDto.profileId}}"
       class="body-c">
      <div class="username">
        {{ userDto.username }}
      </div>
      <div *ngIf="userDto.commonFriendCount > 0 && userDto.id != auth.getPrincipalId()"
           class="common-friend-count">
        {{ userDto.commonFriendCount }} bạn bè chung
      </div>
    </a>
  </div>

  <div class="options"
       *ngIf="auth.getProfileId() == pageId">
    <app-button [hasOptions]="true"
                background="transparent"
                backgroundHover="#f0f2f5"
                [isRounded]="true"
                width="40px"
                height="40px">
      <div button="">
        <i class='bx bx-dots-horizontal-rounded'></i>
      </div>

      <div options="">
        <div (click)="unfriend()">
          <i data-visualcompletion="css-img"
             class="hu5pjgll lzf7d6o1"
             style="background-image: url(&quot;https://static.xx.fbcdn.net/rsrc.php/v3/y0/r/X4wHpSn1Vpj.png&quot;); background-position: 0px -105px; background-size: auto; width: 20px; height: 20px; background-repeat: no-repeat; display: inline-block;"></i>
          <span>Huỷ bỏ bạn bè</span>
        </div>
        <div *ngIf="userDto?.isFollow"
             (click)="unfollow()">
          <img _ngcontent-gwm-c106=""
               src="https://static.xx.fbcdn.net/rsrc.php/v3/yI/r/bnvx9uLOEsq.png"
               alt=""
               height="20"
               width="20"
               class="hu5pjgll lzf7d6o1 hoverZoom3 hoverZoomMouseover">
          <span>Bỏ theo dõi</span>
        </div>
      </div>
    </app-button>
  </div>
</div>