@import "src/styles";

.toaster {
  position: fixed;
  border-radius: 10px;
  max-width: 400px;
  z-index: 9e7;
  left: 30px;
  bottom: 20px;
  padding: 15px;
  background-color: #fff;
  box-shadow: $box-shadow-wide;

  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;

    .icon-wrapper {
      font-size: 30px;

      > * {
        display: flex;
        align-items: center;
        height: 100%;
      }

      .success {
        color: #00a400;
      }

      .error {
        color: #FF0000;
      }
    }

    .message {
      font-size: 16px;
      margin-left: 10px;
      margin-right: 20px;
    }

    .x-button {
      right: 10px;
    }
  }
}