<nav class="navbar">
  <div>
    <div class="logo-search">
      <div class="logo">
        <a [routerLink]="''">
          <i class='bx bxs-meteor'></i>
        </a>
      </div>
      <div class="search">
        <form [formGroup]="searchForm">
          <div 
          (click)="showSearchBar()"
          (clickOutside)="hideSearchBar()"
          class="input-group">
            <div class="icon-wrapper">
              <span 
              class="icon">
                <i class='bx bx-search'></i>
              </span>
            </div>
            <input
            #searchInput
            (keyup.enter)="search($event)"
            type="text"
            placeholder="Tìm kiếm..."
            id="search" name="search" autocomplete="off">
          </div>
        </form>
      </div>
    </div>
    <ul class="menu">
      <li 
        class="home" 
        [ngClass]="{'menu-active-div': homeRla.isActive}">
        <a
        routerLink="/"
        [routerLinkActiveOptions]="{exact: true}"
        routerLinkActive="menu-routerLink-active"
        #homeRla="routerLinkActive">
          <i *ngIf="!homeRla.isActive" class='bx bx-home-circle'></i>
          <i *ngIf="homeRla.isActive" class='bx bxs-home-circle'></i>
        </a>
      </li>
      <li
        class="home"
        [ngClass]="{'menu-active-div': friendRla.isActive}">
        <a
        [routerLink]="'/friends'"
        [routerLinkActiveOptions]="{exact: true}"
        #friendRla="routerLinkActive"
        routerLinkActive="menu-routerLink-active">
          <i
            *ngIf="!friendRla.isActive"
            class='bx bx-group'></i>
          <i
            *ngIf="friendRla.isActive"
            class='bx bxs-group'></i>
        </a>
      </li>
      <li
      [ngClass]="{'menu-active-div': groupRla.isActive}"
      class="home">
        <a
        [routerLink]="'/groups/feed'"
        #groupRla="routerLinkActive"
        [routerLinkActiveOptions]="{exact: true}"
        routerLinkActive="menu-routerLink-active">
          <i
          *ngIf="!groupRla.isActive"
          class='bx bx-network-chart'></i>
          <i
          *ngIf="groupRla.isActive"
          class='bx bxs-network-chart'></i>
        </a>
      </li>
    </ul>
    <div class="options">
      <div class="home-shortcut">
        <div class="pill-container">
          <a
            routerLinkActive="route-active"
            routerLink="/{{ principalProfileId }}"
            [routerLinkActiveOptions]="{exact: true}"
            class="pill">
            <span class="avatar">
              <img [src]="principalAvatar ">
            </span>
            <span class="username">
              <span>{{ principalName }}</span>
            </span>
          </a>
        </div>
      </div>
      <ul class="notis">
        <li>
          <div class="wrapper">
            <div 
            (click)="showCreatePost()">
              <i class='bx bx-plus'></i>
            </div>
          </div>
        </li>
        <li>
            <div class="chat-noti"> </div>
            <app-chat-notification></app-chat-notification>
        </li>
        <li>
            <div 
            class="general-noti"></div>
            <app-notification></app-notification>
        </li>
        <li>
          <div class="wrapper">
            <div
            [ngClass]="{'route-active': moreOptsVisible}" 
            (click)="moreOptsVisible = !moreOptsVisible"
            class="more-opts">
              <i class='bx bx-chevron-down'></i>
            </div>

            <div
            (clickOutside)="moreOptsVisible = false"
            [delayClickOutsideInit]="true"
            *ngIf="moreOptsVisible"
            class="more-opts__items">
              <div
              (click)="logout()"
              class="logout">
                <div class="icon">
                  <i class='bx bx-exit'></i>
                </div>
                <span>Đăng xuất</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
<app-create-post [open$]="openCreatePost"></app-create-post>
<app-confirm-dialog></app-confirm-dialog>
