@import 'src/styles.scss';

.navbar {
  display: flex;
  height: 56px;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1000;
  background-color: #fff;
  box-shadow: 0 1px 2px #00000033;

  > div {
    height: 100%;
    width: 100%;
    display: flex;
    padding: 0 30px;
    justify-content: space-between;

    > * {
      flex-shrink: 0;
    }
  }

  .logo-search {
    display: flex;
    width: 330px;
    height: 100%;

    .logo {
      @extend %fc;
      width: 60px;
      height: 100%;
      color: blue;
      font-size: 40px;
    }

    .search {
      @extend %fz;
      padding: 10px 10px;
      box-sizing: border-box;


      form {
        @extend %fz;

        .input-group {
          position: relative;
          height: 100%;
          display: flex;
          align-items: center;

          i {
            font-size: 20px;
            position: absolute;
            left: 10px;

          }

          #search {
            @extend %fz;
            box-sizing: border-box;
            font-size: 15px;
            padding: 0 15px;
            padding-left: 35px;
            display: block;
            outline: none;
            border: none;
            background-color: #f0f2f5;
            border-radius: 20px;
          }
        }
      }

    }
  }


  .menu {
    height: 100%;
    width: 400px;
    display: flex;
    color: #65676B;

    a {
      @extend %fc;
      width: 100%;
      height: 100%;
      border-radius: 10px;

      &:hover {
        background-color: #f0f2f5;
      }

    }

    li {
      height: 100%;
      width: 100%;
      font-size: 30px;
      padding: 4px 0;
      margin: 0 4px;
      box-sizing: border-box;
    }
  }

  .options {
    height: 100%;
    width: 350px;
    display: flex;

    .home-shortcut {
      flex-grow: 1;
      height: 100%;
      @extend %fc;
      padding-right: 5px;
      justify-content: right;

      .pill-container {
        display: inline-block;
        @extend %fc;
      }

      .pill {
        height: 30px;
        border-radius: 20px;
        display: flex;
        // background-color: transparent;
        padding: 3px 6px;

        &:hover {
          background-color: var(--bg-color);
        }

        &:active {
          transform: scale(.95);
        }


        .avatar {
          @extend %fc;
          height: 28px;
          width: 28px;
          border-radius: 50%;
          border: 1px solid rgba(#000, .3);
          overflow: hidden;
          // margin-right: 7px;

          img {
            width: 100%;
            aspect-ratio: 1;
            object-fit: cover;
          }
        }

        .username {
          font-weight: 500;
          padding: 0 7px;
          @extend %fc;
        }
      }
    }

    .notis {
      display: flex;
      flex: 0 0 200px;
      // column-gap: 10px;
      // justify-content: space-between;

      li {
        width: 100%;
        @extend %fc;

        .wrapper {
          width: 40px;
          position: relative;
          box-sizing: border-box;
          height: 40px;

          > div:first-child {
            @include x-btn(40px, inherit, darken($secondary-button-background, 5));
            background-color: $secondary-button-background;
          }

          .route-active.route-active {
            color: $active-tab;
            background-color: rgba($active-tab, .15) !important;
          }
        }

        .create-post {
          font-weight: 300;
          font-size: 25px;
        }

        .chat-noti, .general-noti {
          font-size: 20px;
        }

        .more-opts {
          font-size: 25px;
          user-select: none;

          &__items {
            @extend %opts;
            &::before {
              border: none;
            }
            position: fixed;
            left: auto;
            top: 54px;
            right: 15px;
            transform: none;

            > div {
              display: flex;
              align-items: center;

              .icon {
                @extend %fc;
                border-radius: 50%;
                background-color: $btn-grey;
                font-size: 25px;
                width: 35px;
                height: 35px;
                margin-right: 10px;

                i {
                  margin-right: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}

.menu-active-div {
  color: $active-tab;
  background-color: #fff;
  box-shadow: 0 -3px 0 0 $active-tab inset;
}

.menu-routerLink-active {
  background-color: #fff !important;
}

.route-active {
  &:visited, &:link, & {
    color: $active-tab;
    background-color: rgba($active-tab, .15) !important;
  }
}