<div class="photo-item">
  <div *ngIf="photo.userId == principalId" class="options">
    <app-button [isRounded]="true"
                width="30px"
                [hasOptions]="true"
                background="transparent"
                color="#fff"
                height="30px">
      <div button="">
        <i class='bx bx-dots-vertical-rounded'></i>
      </div>
      <div options="">
        <div (click)="deletePhoto()">
          <i class='bx bx-trash'> </i>
          <span>Xoá ảnh</span>
        </div>
      </div>
    </app-button>
  </div>
  <div class="photo-container">
    <app-photo [url]="photo.url | sirv: 200"
               [setId]="setId"
               [isPhotoViewNavigationReverse]="true"
               [id]="photo.id"></app-photo>
  </div>
</div>