@import 'src/styles';

.container {
  position: fixed;
  width: 100%;
  height: 100%;
  @extend %fc;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

$trans-time: .15s;
.content {
  width: 400px;
  border-radius: 10px;
  display: flex;
  background-color: $bg-color;
  transition: height $trans-time ease-in-out;
  box-shadow: 0 0 25px 2px rgba(0, 0, 0, .1);
}

.sidebar {
  width: 85px;
  border-bottom-left-radius: 5px;
  display: none;
  border-top-left-radius: 5px;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
}

.result {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: red;
  margin-top: 10px;

  i {
    font-size: 20px;
  }
}

.warning {
  color: red;
  font-size: 13px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  i {
    margin-right: 4px;
  }
}

.form-container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;

  .switch-form {
    color: #000;
    font-size: 13px;

    a {
      text-decoration: none;
      color: $btn-blue;
      font-size: 14px;
      font-weight: 500;
      display: inline-block;
      margin-left: 2px;
      border-radius: 2px;
      padding: 2px;

      &:hover {
        background-color: lighten(rgba($btn-blue, .2), 20);
      }
    }
  }

  .sample-accounts {
    .popup {
      strong {
        font-weight: 500;
      }
    }

    span {
      text-decoration: none;
      color: $btn-blue;
      cursor: pointer;
      font-size: 14px;
      font-weight: 500;
      display: inline-block;
      border-radius: 2px;
      padding: 2px;
      margin: -2px;

      &:hover {
        background-color: lighten(rgba($btn-blue, .2), 20);
      }
    } 
  }

  .hr {
    margin-top: 10px;
    display: flex;
    font-weight: 500;
    margin: auto 20px;
    position: relative;
    justify-content: center;
    border-top: 1px solid rgba(#000, .3);

    span {
      background-color: var(--bg-color);
      position: relative;
      padding: 5px;
      z-index: 1;
      color: $secondary-text;
      transform: translateY(-50%);
    }
  }

  .fc-container {
    transition: height $trans-time;
    margin: 40px;
  }

  .logo {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .oauth {
    width: 100%;
    margin-bottom: 20px;

    .google-login {
      background-color: white;
      width: 100%;
      border-radius: 25px;
      padding: 10px;
      text-transform: uppercase;
      border: 1px solid rgba(#000, .3);
      font-weight: 600;
      font-size: 14px;
      padding: 13px;
      color: $secondary-text;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: border-color .2s;

      img {
        width: 20px;
        height: auto;
        margin-right: 10px;
      }

      &:hover {
        border: 1px solid #000;
      }

      &:focus {
        // box-shadow: 0 0 0 2px #000;
        outline: 2px solid #000;
        outline-offset: 2px; 
      }
    }
  }
}

#login-form {
  width: 300px;

  .login-btn {
    @include button($btn-blue, #fff);
  }

  .register-btn {
    @include button($btn-green, #fff);
  }

  .login-btn, .register-btn {
    width: 100%;
    font-weight: 500;
    padding: 23px 0;
    border-radius: 25px;
  }

}

a {
  margin-top: 20px;
  font-size: 13px;
  display: block;
  color: $btn-blue;
  text-decoration: underline;
}

.input-group {
  $b-ra: 7px;
  position: relative;
  align-items: center;
  display: flex;
  border-radius: $b-ra;
  height: 50px;
  margin-bottom: 10px;
  background-color: #fff;
  font-size: 16px;
  z-index: 0;


  span {
    position: absolute;
    left: 20px;
    transition: .2s ease;
    text-transform: uppercase;
    z-index: 1;
    font-size: 15px;
    font-weight: 500;
  }

  &:focus-within {
    span {
      transform: translate(0, -10px);
      font-size: 11px;
      color: $btn-blue;
    }
  }

  .focus {
    transform: translate(0, -10px);
    font-size: 11px;
    color: $btn-blue
  }

  input {
    z-index: 2;
    font-size: 16px;
    background-color: transparent;
    width: 100%;
    height: 100%;
    border-radius: $b-ra;
    box-sizing: border-box;
    border: 1px solid rgba(#333, .2);
    outline: none;
    padding: 0 20px;
    padding-top: 20px;

    &:focus {
      outline: rgba($btn-blue, 1) solid 2px;
      outline-offset: 2px;
      border: 1px solid rgba(#333, .4);
    }

    &:hover {
      border: 1px solid rgba($btn-blue, .6);
    }
  }

  .eye {
    position: absolute;
    right: 15px;
    cursor: pointer;
    z-index: 4;
    font-size: 20px;
  }

  .error {
    box-shadow: 0 0 0 2px red;
  }
}

