<div class="container">
  <div #loginOuter class="content">
    <div class="form-container">
      <div #loginInner class="fc-container">
        <div #loginTop class="top">
          <div class="logo">
            <img [src]="'https://xulgon.sirv.com/assets/final-logo.png'" alt="">
          </div>
          <div class="oauth">
            <button (click)="googleLogin()"
                    class="google-login">
              <img src="assets/google.png" />
              <span>Tiếp tục với Google</span>
            </button>
          </div>

          <div class="hr">
            <span>Hoặc</span>
          </div>
        </div>

        <div style="position: relative;">
          <form *ngIf="!isLogin"
                [@.disabled]="disableAnimation"
                [@slideInOutRight]
                (@slideInOutRight.start)="calculateHeight($event)"
                (@slideInOutRight.done)="discardHeight($event)"
                id="login-form"
                [formGroup]="registerForm"
                (ngSubmit)="register()">
            <div class="input-group">
              <span [ngClass]="{'focus': registerForm.get('lastName')?.value}">họ</span>
              <input [ngClass]="!registerForm.get('lastName')?.valid && registerForm.get('lastName')?.touched ? 'error' : ''"
                     autocomplete="off"
                     [formControlName]="'lastName'"
                     name="username"
                     required />
            </div>

            <div class="warning"
                 *ngIf="!registerForm.get('lastName')?.value && registerForm.get('lastName')?.touched">
              <i class='bx bx-error'></i>
              <span>Họ không được bỏ trống</span>
            </div>

            <div *ngIf="registerForm.get('lastName')?.validator"></div>
            <div class="input-group">
              <span [ngClass]="{'focus': registerForm.get('firstName')?.value}">tên</span>
              <input [ngClass]="!registerForm.get('firstName')?.valid && registerForm.get('firstName')?.touched ? 'error' : ''"
                     autocomplete="off"
                     [formControlName]="'firstName'"
                     required>
            </div>

            <div class="warning"
                 *ngIf="!registerForm.get('firstName')?.value && registerForm.get('firstName')?.touched">
              <i class='bx bx-error'></i>
              <span>Tên không được bỏ trống</span>
            </div>

            <div class="input-group">
              <span [ngClass]="{'focus': registerForm.get('username')?.value}">tên đăng nhập</span>
              <input [ngClass]="!registerForm.get('username')?.valid && registerForm.get('username')?.touched ? 'error' : ''"
                     type="text"
                     autocomplete="off"
                     [formControlName]="'username'"
                     name="username"
                     required />
            </div>

            <div class="warning"
                 *ngIf="validatorHasError(registerForm.get('username'), 'userExisted')">
              <i class='bx bx-error'></i>
              <span>Tên đăng nhập đã tồn tại</span>
            </div>

            <div class="warning"
                 *ngIf="validatorHasError(registerForm.get('username'), 'required')">
              <i class='bx bx-error'></i>
              <span>Tên đăng nhập không được bỏ trống</span>
            </div>
            <div class="warning"
                 *ngIf="validatorHasError(registerForm.get('username'), 'minlength')">
              <i class='bx bx-error'></i>
              <span>Tên đăng nhập quá ngắn</span>
            </div>
            <div class="warning"
                 *ngIf="validatorHasError(registerForm.get('username'), 'pattern')">
              <i class='bx bx-error'></i>
              <span>Tên đăng nhập chỉ chứa chữ, số và bắt đầu bằng chữ</span>
            </div>
            <div class="input-group">
              <span [ngClass]="{'focus': registerForm.get('password')?.value}">mật khẩu</span>
              <input [ngClass]="!registerForm.get('password')?.valid && registerForm.get('password')?.touched ? 'error' : ''"
                     type="password"
                     [formControlName]="'password'"
                     #pwdr
                     required>
              <div class="eye">
                <i (click)="pwdr.type = 'text'"
                   *ngIf="pwdr.type == 'password'"
                   class='bx bxs-hide'></i>
                <i *ngIf="pwdr.type == 'text'"
                   (click)="pwdr.type = 'password'"
                   class='bx bxs-show'></i>
              </div>
            </div>

            <div class="warning"
                 *ngIf="!registerForm.get('password')?.value && registerForm.get('password')?.touched">
              <i class='bx bx-error'></i>
              <span>Mật khẩu không được bỏ trống</span>
            </div>

            <div class="warning"
                 *ngIf=" registerForm.get('password')?.touched
                   && registerForm.get('password')?.hasError('pattern')">
              <i class='bx bx-error'></i>
              <span>Mật khẩu phải dài ít nhất 8 ký tự, chứa ít nhất một số, một chữ hoa, một trong các ký tự sau @$!%*#?&</span>
            </div>

            <div class="input-group">
              <span [ngClass]="{'focus': registerForm.get('email')?.value}">email</span>
              <input [ngClass]="!registerForm.get('email')?.valid && registerForm.get('email')?.touched ? 'error' : ''"
                     type="text"
                     [formControlName]="'email'"
                     required>
            </div>

            <div class="warning"
                 *ngIf="!registerForm.get('email')?.value && registerForm.get('email')?.touched">
              <i class='bx bx-error'></i>
              <span>Email không được bỏ trống</span>
            </div>

            <div class="warning"
                 *ngIf="validatorHasError(registerForm.get('email'), 'email')">
              <i class='bx bx-error'></i>
              <span>Email không hợp lệ</span>
            </div>

            <div class="flex-center">
              <button class="submit-btn register-btn"
                      id="submit-button"
                      type="submit">
                <span *ngIf="!isPosting"
                      class="text">ĐĂNG KÝ</span>
                <app-spinner [displayText]="false"
                             size="25px"
                             ringWidth="3px"
                             *ngIf="isPosting"
                             backgroundColor="transparent">
                </app-spinner>
              </button>
            </div>

            <div class="result"
                 *ngIf="registerError">
              <i class='bx bx-x'></i>
              <div>Đăng kí thất bại</div>
            </div>

            <div class="result"
                 style="color: green"
                 *ngIf="registerError === false">
              <div>Đăng kí thành công</div>
            </div>
            <div class="switch-form">
              <span>Đã có tài khoản?</span>
              <a (click)="switchForm($event)"
                 href="/login">
                Đăng nhập ngay
              </a>
            </div>
          </form>

          <form *ngIf="isLogin"
                [@slideInOutLeft]
                [@.disabled]="disableAnimation"
                (@slideInOutLeft.start)="calculateHeight($event)"
                (@slideInOutLeft.done)="discardHeight($event)"
                id="login-form"
                [formGroup]="loginForm"
                (ngSubmit)="login()">
            <div class="input-group">
              <span [ngClass]="{'focus': loginForm.get('username')?.value}">TÊN ĐĂNG NHẬP</span>
              <input [ngClass]="!loginForm.get('username')?.valid && loginForm.get('username')?.touched ? 'error' : ''"
                     type="text"
                     autocomplete="off"
                     [formControlName]="'username'"
                     name="username"
                     required>
            </div>
            <div class="warning"
                 *ngIf="!loginForm.get('username')?.value && loginForm.get('username')?.touched">
              <i class='bx bx-error'></i>
              <span>Tên đăng nhập không được bỏ trống</span>
            </div>

            <div class="input-group">
              <span [ngClass]="{'focus': loginForm.get('password')?.value}">MẬT KHẨU</span>
              <input [ngClass]="!loginForm.get('password')?.valid && loginForm.get('password')?.touched ? 'error' : ''"
                     type="password"
                     [formControlName]="'password'"
                     name="password"
                     #pwdl
                     required>
              <div class="eye">
                <i (click)="pwdl.type='text'"
                   *ngIf="pwdl.type == 'password'"
                   class='bx bxs-hide'></i>
                <i *ngIf="pwdl.type == 'text'"
                   (click)="pwdl.type='password'"
                   class='bx bxs-show'></i>
              </div>
            </div>
            <div class="warning"
                 *ngIf="validatorHasError(loginForm.get('password'), 'required')">
              <i class='bx bx-error'></i>
              <span>Mật khẩu không được bỏ trống</span>
            </div>
            <div class="flex-center"
                 style="position: relative;">
              <button class="submit-btn login-btn"
                      type="submit">
                <span *ngIf="!isPosting"
                      class="text">ĐĂNG NHẬP</span>
                <app-spinner [displayText]="false"
                             size="25px"
                             ringWidth="3px"
                             *ngIf="isPosting"
                             backgroundColor="transparent">
                </app-spinner>
              </button>
            </div>

            <div class="result"
                 *ngIf="loginError">
              <i class='bx bx-x'></i>
              <span>Sai tên tài khoản hoặc mật khẩu</span>
            </div>
            <div class="switch-form">
              <span>Chưa có tài khoản?</span>
              <a (click)="switchForm($event)"
                 href="/register">
                Đăng ký tại đây
              </a>
            </div>
            <div style="position: relative; display: inline-block;" #parent class="sample-accounts">
              <span (click)="showSampleAccounts = !showSampleAccounts">Tài khoản mẫu</span>
              <app-pop-up *ngIf="showSampleAccounts"
                          (clickOutside)="showSampleAccounts = false"
                          aligment="LEFT"
                          [delayClickOutsideInit]="true"
                          [parent]="parent"
                          class="popup">
                <div><strong>Tên đăng nhập</strong>: <br> username1, username2, ..., username10</div>
                <div><strong>Mật khẩu</strong>: password</div>
              </app-pop-up>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>