<div class="container">
  <div class="content">
    <div class="sidebar">
      <img src="assets/bar.jpg">
    </div>
    <div class="form-container">
      <form 
      *ngIf="!isLogin"
      id="login-form" [formGroup]="loginForm" (ngSubmit)="login()">
        <h2>ĐĂNG KÝ</h2> 
        <div class="name">

          <div class="input-group">
            <label for="username">HỌ</label> 
            <input type="text" id="username" autocomplete="off" [formControlName]="'username'" name="username" required autofocus>
          </div>
          <div class="input-group">
            <label for="password">TÊN</label>
            <input type="password" id="password" [formControlName]="'password'" name="password" required>
          </div>
        </div>
        <div class="input-group">
          <label for="username">TÊN TÀI KHOẢN</label> 
          <input type="text" id="username" autocomplete="off" [formControlName]="'username'" name="username" required autofocus>
        </div>
        <div class="input-group">
          <label for="password">MẬT KHẨU</label>
          <input type="password" id="password" [formControlName]="'password'" name="password" required>
        </div>
        <button id="submit-button" type="submit">ĐĂNG KÝ</button>
        <div class="login-failed" *ngIf="this.loginError">
          <p class="register-success-text">Logined falied</p>   
        </div>               
        <a href="">Đã có tài khoản? Nhấn vào đây để đăng nhập.</a>
      </form>
      <form 
      *ngIf="isLogin"
      id="login-form" [formGroup]="loginForm" (ngSubmit)="login()">
        <h2>ĐĂNG NHẬP</h2> 
        <div class="input-group">
          <label for="username">TÊN ĐĂNG NHẬP</label> 
          <input type="text" id="username" autocomplete="off" [formControlName]="'username'" name="username" required autofocus>
          <div class="warning" *ngIf="!loginForm.get('username')?.valid && loginForm.get('username')?.touched"> Tên đăng nhập không hợp lệ</div>   
        </div>
        <div class="input-group">
          <label for="password">MẬT KHẨU</label>
          <input type="password" id="password" [formControlName]="'password'" name="password" required>
          <div class="warning" *ngIf="!loginForm.get('password')?.valid && loginForm.get('password')?.touched"> Mật khẩu không được bỏ trống</div>   
        </div>
        <button id="submit-button" type="submit">ĐĂNG NHẬP</button>
        <div class="login-failed" *ngIf="this.loginError">
          <p class="register-success-text">Logined falied</p>   
        </div>               
        <a href="">Chưa có tài khoản? Đăng ký tại đây</a>
      </form>
    </div>
    
  </div>
    
</div>
