@import "src/styles";

.group-create-post {
  @include card(10px);
  padding: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  &:hover {
    .icon {
      background-color: rgba(#eee, 1);
    }
  }

  .icon {
    @extend %fc;
    width: 35px;
    height: 35px;
    margin-right: 20px;
    border-radius: 50%;
    padding: 5px;
    background-color: rgba(#eee, .7);
    color: $btn-blue;
    font-size: 35px;
  }

  .des {
    font-size: 16px;

    .top {
      font-weight: 500;
      font-size: 17px;
      margin-bottom: 5px;
    }
  }
}
