<div class="comment">
  <div>
    <div class="comment-avatar">
      <app-user-ref [userDto]="comment.user"
                    [size]="40"
                    borderRadius="50%">
      </app-user-ref>
    </div>
  </div>
  <div class="comment-right">
    <div class="comment-body-container">
      <div #commentBody
           (clickOutside)="commentBody.classList.remove('highlight')"
           class="comment-body">
        <div class="comment-username">
          <app-user-ref [userDto]="comment.user"></app-user-ref>
        </div>
        <div class="comment-body__text">
          {{ comment.body }}
        </div>
        <div class="reaction-count"
             *ngIf="comment.reactionCount > 0">
          <img src="https://xulgon.sirv.com/assets/like-16x16.png">
          {{ comment.reactionCount}}
        </div>
      </div>
      <div class="comment-options-container">
        <app-button [isRounded]="true"
                    *ngIf="comment.user.id == principalId"
                    width="27px"
                    height="27px"
                    iconSize="17px"
                    [hasOptions]="true"
                    backgroundHover="#f0f2f5"
                    background="transparent">
          <div button="">
            <i class='bx bx-dots-horizontal-rounded'></i>
          </div>
          <div (click)="delete()"
               options="">
            <div>Xoá bình luận</div>
          </div>
        </app-button>
      </div>


    </div>
    <div *ngIf="comment.photo"
         class="comment-media">
      <app-photo [isComment]="true"
                 [url]="comment.photo.url | sirv: 400"
                 [id]="comment.photo.id"
                 [style]="'height'">
      </app-photo>
    </div>
    <div class="comment-meta">
      <span class="comment-like hover-underline"
            [ngClass]="{'reacted': comment.isReacted}"
            (click)="like()">
        <span class="w500">Thích</span>
      </span>
      <span> · </span>

      <span class="comment-reply hover-underline"
            *ngIf="!(comment.parentType == 'COMMENT')"
            (click)="showReplies()">
        <span class="w500">Trả lời</span>
        <span> · </span>
      </span>

      <span class="comment-time-ago">
        {{ comment.createdAgo }}
      </span>
    </div>
    <div class="comment-reply-container">
      <div class="placeholder">
        <span class="hover-underline"
              *ngIf="
          comment.parentType != 'COMMENT' 
          && !replyVisible 
          && comment.replyCount
        "
              (click)="showReplies()">
          <i class='bx bx-subdirectory-right'></i>
          {{ comment.replyCount }} trả lời
        </span>
      </div>
      <div>
        <app-comment-list *ngIf="replyVisible"
                          [totalCommentCount]="comment.replyCount"
                          [rootContentId]="comment.rootContentId"
                          [parentId]="comment.id">
        </app-comment-list>
      </div>
    </div>
  </div>
</div>