@import "src/styles";

.chat-box {
  height: 450px;
  box-sizing: border-box;
  display: none;
  max-width: 328px;
  width: 95%;
  position: fixed;
  bottom: 0px;
  z-index: $modal-z-index - 1;
  right: 5%;
  border-radius: 10px 10px 0 0;
  font-size: 15px;
  background-color: #fff;
  overflow: hidden;
  cursor: auto;
  box-shadow: 0 12px 28px 0 rgba(#000, .2), 0 2px 4px 0 rgba(#000, .1);

  .content {
    height: 100%;
    display: flex;
    flex-direction: column;

    .title {
      display: flex;
      align-items: center;
      flex: 0 0 48px;
      padding: 2px 2px;
      width: 100%;
      box-shadow: 0 1px 3px rgba(#000, .2);

      .avatar-name {
        display: flex;
        align-items: center;
        padding: 0px 5px;
        height: 100%;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
          background-color: rgba($secondary-button-background, .5);
        }
      }

      .avatar {
        display: flex;
        padding-right: 10px;
        align-items: center;

        .avatar-container {

          width: 32px;
          height: 32px;
          border: 1px solid rgba(#333, .2);
          border-radius: 50%;
          overflow: hidden;
        }

        img {
          width: 100%;
          aspect-ratio: 1;
          object-fit: cover;
        }
      }

      .name {
        font-weight: 500;
      }

      .x-btn {
        @include x-btn(26px, #bcbcbc, rgba($btn-grey, .5));
        padding: 5px;
        right: 15px;
      }
    }

    .msg {
      @include scrollbar(15px);
      flex-grow: 1;
      overflow-y: scroll;
      display: flex;
      flex-direction: column-reverse;
      padding: 10px 10px 0 10px;
      position: relative;

      > * {
        display: block;
      }

      .no-msgs {
        position: absolute;
        color: $secondary-text;
        width: 100%;
        top: 0;
        left: 0;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        div {
          text-align: center;
          max-width: 70%;
        }
      }
    }

    .input-bar {
      flex: 0 0 53px;
      display: flex;
      align-items: center;
      padding: 0 10px;

      .input {
        outline: none;
        border: none;
        border-radius: 20px;
        background-color: #e4e6eb;
        height: 40px;
        width: 100%;
        padding: 0 15px;
        font-size: 15px;
      }

      i {
        font-size: 25px;
        cursor: pointer;
        margin-left: 10px;
        color: #0084ff;
      }
    }


  }
}
