<div (click)="chatboxClick()"
     #self
     class="chat-box">
  <div class="content">
    <div class="title">
      <div (click)="navigateToUserProfile()"
           class="avatar-name">
        <div class="avatar">
          <div class="avatar-container">
            <img [src]="user?.avatarUrl || 'https://xulgon.sirv.com/assets/avatar.jpg'">
          </div>
        </div>
        <div class="name">
          {{ user?.username }}
        </div>
      </div>
      <div (click)="close()"
           class="x-btn">
        <i class='x-icon'
           style="filter: invert(0%);"></i>
      </div>
    </div>
    <div class="msg">
      <app-spinner size="25px"
                   color="#ccc"
                   *ngIf="isLoadingMessages"
                   backgroundColor="transparent"></app-spinner>
      <div *ngIf="messages.length == 0 && isMessagesLoaded"
           class="no-msgs">
        <div>Chưa có tin nhắn, hãy nhắn gì đó cho {{ user?.username }}.</div>
      </div>
      <app-chat-msg *ngFor="let message of messages; let i = index"
                    [avatarUrl]="user?.avatarUrl"
                    [thisMsg]="messages[i]"
                    [nextMsg]="i == 0 ? null : messages[i-1]"
                    [prevMsg]="messages[i+1]">
      </app-chat-msg>
    </div>
    <form [formGroup]="msgForm"
          (keyup.enter)="sendMessage()"
          class="input-bar">
      <input type="text"
             class="input"
             formControlName="input"
             placeholder="Aa">
      <i (click)="sendMessage()"
         class='bx bxs-send'></i>
    </form>
  </div>
</div>