@import "src/styles";

.content {
  width: 892px;
  display: grid;
  grid-template-columns: 360px 1fr;
  grid-gap: 17px;

  .sidebar-container {
    font-weight: 500;
  }

  .sidebar {
    font-weight: 500;
    width: 360px;
    // height: auto;

    > * {
      @include card(10px);
      background-color: #fff;
      padding: 15px 15px;
      // margin-bottom: 20px;
    }

    .intro {
      // max-height: 500px;
      font-size: 16px;

      > div {
        margin-bottom: 5px;
        display: flex;
        align-items: center;

        i {
          font-size: 27px;
          margin-right: 10px;
        }
      }
    }

    .photo-intro {
      max-height: 600px;


      .photo {
        display: grid;
        grid-gap: 3px;
        border-radius: 10px;
        overflow: hidden;
        grid-template-columns: repeat(3, 1fr);

        > div {
          width: 100%;
          aspect-ratio: 1;
          overflow: hidden;
        }

      }

    }

    .friend-intro {
      max-height: 600px;

      .friend {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(3, 1fr);

        .img-container {
          width: 100%;
          aspect-ratio: 1;
        }

        .common-friend-count {
          font-size: 14px;
          font-weight: 400;
        }
      }
    }
  }

  .timeline {
    // flex-grow: 1;
  }
}

.sidebar {
  will-change: min-height;
}

.sidebar__inner {
  transform: translate(0, 0); /* For browsers don't support translate3d. */
  transform: translate3d(0, 0, 0);
  box-sizing: border-box;
  will-change: position, transform;
}