@import "src/styles";

.container {
  display: flex;
  justify-content: center;
}

.content {
  max-width: 892px;
  display: grid;
  grid-template-columns: 1fr 515px;
  grid-gap: 17px;
  width: 100%;

  .no-posts {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(#333, .5);
    h3 {
      font-size: 1.5rem;
      font-weight: 600;
    }
  }

  .sidebar-container {
    font-weight: 500;
  }

  .sidebar {
    font-weight: 500;
  }
  .sidebar__inner {
    display: flex;
    flex-direction: column;
    row-gap: 17px;

    > *:not(:first-child) {
      @include card(10px);
      background-color: #fff;
      padding: 15px 15px;
    }

    h3 {
      font-size: 21px;
      margin-block-start: .7em;
      margin-block-start: .7em;
    }

    .intro {
      // max-height: 500px;
      font-size: 16px;

      > div {
        margin-bottom: 5px;
        display: flex;
        align-items: center;

        i {
          font-size: 27px;
          margin-right: 10px;
        }
      }
    }

    .photo-intro {
      max-height: 600px;
      .photo > div {
        display: grid;
        grid-gap: 3px;
        border-radius: 10px;
        overflow: hidden;
        grid-template-columns: repeat(3, 1fr);

        > div {
          width: 100%;
          aspect-ratio: 1;
          overflow: hidden;
        }

      }

    }

    .friend-intro {
      max-height: 600px;

      .friend {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(3, 1fr);

        .img-container {
          width: 100%;
          aspect-ratio: 1;
        }

        .common-friend-count {
          font-size: 14px;
          font-weight: 400;
        }
      }
    }
  }
}

.sidebar {
  will-change: min-height;
}

.sidebar__inner {
  will-change: position, transform;
}