<div 
[hidden]="onInitHide"
class="container">

  <div 
  id="main-content" 
  class="content">
    <div 
    id="sidebar" 
    #sidebar
    class="sidebar">
      <div 
      id="{{ pageId }}" 
      #sidebar__inner
      StickySidebar
      [sidebarInner]="sidebar__inner"
      [parent]="sidebar"
      [onAttach$]="onAttached$"
      [onDetach$]="onDetach$"
      class="sidebar__inner">
        <div class="intro">
          <h3>Giới thiệu</h3>
          <div *ngIf="userProfile?.workplace">
            <i class='bx bxs-building-house'></i>
            <span>Làm việc tại {{ userProfile?.workplace }}</span>
          </div>

          <div *ngIf="userProfile?.school">
            <i class='bx bxs-graduation'></i>
            <span>Học tại {{ userProfile?.school }}</span>
          </div>
          <div *ngIf="userProfile?.hometown">
            <i class='bx bx-current-location'></i>
            <span>Đang sống tại {{ userProfile?.hometown }}</span>
          </div>
          <div>aldsjflakjdfasl</div>
          <div>aldsjflakjdfasl</div>
          <div>aldsjflakjdfasl</div>
          <div>aldsjflakjdfasl</div>
          <div>aldsjflakjdfasl</div>
          <div>aldsjflakjdfasl</div>
          <div>aldsjflakjdfasl</div>
          <div>aldsjflakjdfasl</div>
          <div>aldsjflakjdfasl</div>
          <div>aldsjflakjdfasl</div>
          <div>aldsjflakjdfasl</div>
          <div>aldsjflakjdfasl</div>
          <div>aldsjflakjdfasl</div>
          <div>aldsjflakjdfasl</div>
          <div>aldsjflakjdfasl</div>
          <div>aldsjflakjdfasl</div>
          <div>aldsjflakjdfasl</div>
          <div>aldsjflakjdfasl</div>
          <div>aldsjflakjdfasl</div>
          <div>aldsjflakjdfasl</div>
          <div>aldsjflakjdfasl</div>
          <div>aldsjflakjdfasl</div>
          <div>aldsjflakjdfasl</div>
        </div>
        <div class="photo-intro">
          <div class="intro-title">
            <h3>Ảnh</h3>
          </div>
          <div class="photo-container">
            <div class="photo">
              <div 
              *ngIf="!userProfile?.photos"
              class="photo-skeletons-container">
                <div
                style="background-color: #dfdfdf;"
                *ngFor="let i of [].constructor(9)">
                </div>
              </div>

              <div 
              *ngIf="userProfile?.photos"
              class="photo-container">
                <div *ngFor="let photo of userProfile?.photos">
                  <app-photo 
                  [url]="photo.thumbnails.s160x160.url"
                  [id]="photo.id"
                  ></app-photo>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="friend-intro">
          <div>
            <h3>Bạn bè</h3>
          </div>
          <div class="friend">

            <div *ngFor="let friend of userProfile?.friends">
              <div class="img-container">
                <app-user-ref
                [userDto]="friend"
                borderRadius="10px"
                ></app-user-ref>
              </div>
              <app-user-ref [userDto]="friend" ></app-user-ref>
              <div 
              *ngIf="friend.commonFriendCount > 0 && friend.id != principleId" 
              class="common-friend-count">
                {{ friend.commonFriendCount }}
                <span> bạn chung</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="content" class="timeline">
      <div 
      #postContainer
      class="post-container">
        <app-post-list
          [pageId]="pageId"
          [isLoading]="isLoadingPosts"
          [isCommentVisible]="true"
          [posts]="timeline"
        ></app-post-list>
      </div>
    </div>
  </div>
</div>