<div class="friend-request">
  <app-sidebar>
    <ng-container>
      <div class="title">Lời mời kết bạn</div>
      <ul class="content">
        <app-friend-request-item (profilePicked)="profilePicked()"
                                 (onDeleteRequest)="deleteRequest(request)"
                                 *ngFor="let request of friendRequests"
                                 [request]="request">
        </app-friend-request-item>
        <ng-container *ngIf="isLoadingRequests">
          <div *ngFor="let item of [].constructor(3)"
               class="skeleton">
            <div class="avatar"></div>
            <div class="body">
              <div class="text"></div>
              <div class="buttons">
                <div></div>
                <div></div>
              </div>
            </div>
          </div>
        </ng-container>
      </ul>
    </ng-container>
  </app-sidebar>
  <div class="user-profile">
    <div
         style="display: flex; left: 0; top: 0; position: absolute; height: 100%; width: 100%; justify-content: center;">
      <div style="position: absolute; text-align: center; top: 70px; color: #555; font-size: 16px">
        <div style="margin: 0 10px;">Hãy chọn một lời mời để xem trang cá nhân của người đó.</div>

      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>