<div 
*ngIf="photo"
class="photo-viewer">
  <div class="viewer-content">
    <div (click)="hide()" class="x-btn">
      <i class='bx bx-x'></i>
    </div>
    <img [src]="photo?.url">

    <app-button
    background="transparent"
    width="50px"
    height="50px"
    color="rgba(255, 255, 255, .8)"
    backgroundHover="rgba(255, 255, 255, .2)"
    [isRounded]="true"
    *ngIf="photo.index && photo.index > 1"
    class="prev-button"
    (click)="previousPhoto()">
      <div button="">
        <i class='bx bx-chevron-left'></i>
      </div>
    </app-button>

    <app-button
    width="50px"
    height="50px"
    [isRounded]="true"
    background="transparent"
    color="rgba(255, 255, 255, .8)"
    backgroundHover="rgba(255, 255, 255, .2)"
    *ngIf="photo.hasNext"
    class="next-button"
    (click)="nextPhoto()">
      <div button="">
        <i class='bx bx-chevron-right'></i>
      </div>
    </app-button>
  </div>
  <div class="viewer-sidebar">
    <app-post 
    [isCommentVisible]="true"
    [initCommentCount]="20"
    [post]="photo"></app-post>
  </div>
</div>
