@import "../../../styles";

$cover-height: 350px;
$content-width: 940px;
.group-content {
  .group-header {
    display: flex;
    justify-content: center;
    z-index: 1;
    box-shadow: 0 1px 2px #00000033;
    background-color: #fff;

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      .cover {
        position: relative;
        width: 100%;
        display: flex;
        height: $cover-height;
        justify-content: center;

        .radiant-wash {
          position: absolute;
          top: 0;
          left: 0;
          background-image: linear-gradient(
            to top,
            #FFFFFF,
            rgba(255,255,255.9),
            rgba(255,255,255,.7),
            rgba(255,255,255,.4),
            rgba(255,255,255,0)
          );
          width: 100%;
          height: 100%;
        }

        .left, .right {
          flex-grow: 1;
          height: 100%;
        }

        .left {
          background-image:
            linear-gradient(.75turn, rgba(#fff, .8), 20%, rgba(#fff, .2), transparent),
            linear-gradient(.25turn, rgba(#fff, .5), 20%, transparent);
        }

        .right {
          background-image:
            linear-gradient(.25turn, rgba(#fff, .8), 20%, rgba(#fff, .2), transparent),
            linear-gradient(.75turn, rgba(#fff, .5), 20%, transparent);
        }

        .update-cover {
          position: absolute;
          bottom: 10px;
          z-index: 2;
          right: 10px;
        }

        .cover-container {
          @extend %fc;
          max-width: $content-width;
          width: 100%;
          position: relative;
          height: $cover-height;
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
          background-color: #ddd;
          border: 1px solid rgba(#333, .1);
          border-top: none;
          box-sizing: border-box;
          overflow: hidden;

          img {
            object-fit: cover;
            height: 100%;
            width: 100%;
          }
        }

      }


      .name--tabs--container {
        max-width: $content-width;
        width: 100%;
        margin: 20px 0px;

        .group-name {
          margin: 0 25px;

          .name-content {
            max-width: 400px;
            width: 100%;

            .name {
              font-weight: 700;
              font-size: 28px;
            }

            .group-meta {
              margin-top: 5px;
              display: flex;
              align-items: center;
              color: #666;
              font-size: 17px;
              column-gap: 3px;

              i {
                margin-right: 3px;
              }
            }
          }
        }
      }
    }
  }

  .group-body {
    display: flex;
    margin: 0 15px;
    margin-top: 17px;
    justify-content: center;

    .content-container {
      max-width: 892px;
      width: 100%;
    }
  }
}

.active {
  box-shadow: inset 0 -3px 0 #24853C;
  color: #24853C;

  *:hover {
    background-color: transparent !important;
  }
}
