<div class="join-request-list">
	<div class="content">
		<div class="search">
			<div class="input-group">
				<div class="icon">
					<i class='bx bx-search'></i>
				</div>
				<!-- [(ngModel)]="searchInput"  -->
				<input 
				(input)="inputChange($event)"
				type="text" 
				placeholder="Tìm kiếm theo tên" name="" /> 
			</div>
		</div>
		<div class="requests">
			<app-join-request-item
			(destroy)="deleteRequest($event)"
			*ngFor="let request of joinRequests"
			[request]="request"
			></app-join-request-item>	
		</div>
	</div>
</div>
