.user-ref-a {
	display: flex;
	justify-content: center;
	position: relative;
	cursor: pointer;

	&:hover {
		text-decoration: underline;
	}

	.img-container {
		width: 100%;
		aspect-ratio: 1;
		overflow: hidden;

		img {
			object-fit: cover;
			width: 100%;
			aspect-ratio: 1;
		}
	}

	.user-ref  {
		position: absolute;
		bottom: 100%;
	}

}