.title {
  display: flex;
  font-size: 19px;
  padding: 20px 15px;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  border-bottom: 1px solid rgba(#333, .2);
  color: #101010;

  .x {
    position: absolute;
    right: 15px;
  }
}
