<div class="group-member">
  <div class="group-member__inner">
    <div class="title-search">
      <div class="title">
        <span>Thành viên · <span style="color: #666"> {{ admins.length + members.length}}</span></span>
      </div>
      <div Label labelText="Not implemented" class="search">
        <i class='bx bx-search'></i>
        <input type="text"
               placeholder="Tìm thành viên"
               name="" id="">
      </div>
    </div>
    <div class="body">
      <div class="admins">
        <div class="title">
          Quản trị viên · <span style="color: #666">{{ admins.length }}</span>
        </div>
        <app-group-member-item *ngFor="let admin of admins"
                               (kicked)="kicked($event)"
                               (demoted)="demoted($event)"
                               (promoted)="promoted($event)"
                               [groupId]="group.id"
                               [role]="group.role"
                               [member]="admin">
        </app-group-member-item>
        <ng-container *ngIf="isLoadingMembers" >
          <div class="skeleton" *ngFor="let item of [].constructor(3)">
            <div class="avatar"></div>
            <div class="text"></div>
          </div>
        </ng-container>
      <div class="members">
        <div class="title">
          Thành viên nhóm · <span style="color: #666"> {{ members.length }} </span>
        </div>
        <app-group-member-item *ngFor="let member of members"
                               [role]="group.role"
                               (kicked)="kicked($event)"
                               (demoted)="demoted($event)"
                               (promoted)="promoted($event)"
                               [groupId]="group.id"
                               [member]="member">
        </app-group-member-item>
        <ng-container *ngIf="isLoadingMembers" >
          <div class="skeleton" *ngFor="let item of [].constructor(3)">
            <div class="avatar"></div>
            <div class="text"></div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
