<div #self
     class="post-list">
  <div #post
       *ngFor="let post of posts"
       class="post">
    <app-post (remove)="onPostDelete($event)"
              [isCommentVisible]="isCommentVisible"
              [isGroupNameVisible]="isGroupNameVisible"
              [post]="post">
    </app-post>
  </div>
</div>

<div [ngStyle]="{'margin-top': posts.length ? '17px' : '0px'}" class="skeletons"
     *ngIf="isLoading">
  <app-post-skeleton *ngFor="let item of [].constructor(2)"></app-post-skeleton>
</div>