@import '../../../styles';

a {
  &:hover {
    text-decoration: underline;
    text-decoration-thickness: 1px;
  }
}

$posts-gap: 17px;

.post-list {
  display: flex;
  row-gap: $posts-gap;
  flex-direction: column;
  box-sizing: border-box;

  .post {
    width: 100%;
    @include card(10px);
  }
}

.skeletons {
  display: flex;
  row-gap: $posts-gap;
  flex-direction: column;
}
