@import "src/styles";

.group-settings {
  position: relative;
  top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;

  &__inner {
    width: 500px;

    .settings {
      @include card(10px);
      padding: 15px;

      &__title {
        font-weight: 700;
        font-size: 20px;
      }

      &__item {
        display: flex;
        align-items: center;
        padding: 18px 0;
        position: relative;
        border-bottom: 1px solid rgba(#333, .2);

        .name {
          font-weight: 500;
        }

        .edit {
          position: absolute;
          right: 15px;
          font-size: 25px;
          color: #666;

        }
      }

    }
  }
}
