<div class="group-settings">
  <div class="group-settings__inner">
    <div class="settings">
      <div class="settings__title">
        Thiết lập nhóm
      </div>
      <div class="settings__item settings__name-desc">
        <div class="left">

          <div class="name">
            Tên và mô tả
          </div>
          <div class="chosen"></div>
        </div>
        <div class="edit">
          <i class='bx bxs-pencil'></i>
        </div>
      </div>
      <div class="settings__item settings__privacy">
        <div class="left">
          <div class="name">
            Ẩn nhóm
          </div>
          <div class="chosen">Ẩn</div>
        </div>
        <div class="edit">
          <i class='bx bxs-pencil'></i>
        </div>
      </div>
    </div>
  </div>
</div>
