<div class="friend-request">
  <div class="sidebar-container">

    <div class="sidebar">
      <div class="title">Lời mời kết bạn</div> 
      <ul class="content">
        <app-friend-request-item 
        (profilePicked)="profilePicked()"
        (onDeleteRequest)="deleteRequest(request)"
        *ngFor="let request of friendRequests" 
        [request]="request"></app-friend-request-item>  
        
      </ul>
    </div>
  </div>
  <div class="user-profile">

    <div 
    *ngIf="!isProfilePicked"
    class="profile-place-holder">
      <h2>Chọn một profile mà bạn muốn xem trước.</h2>
    </div>
    <app-profile></app-profile>
  </div>
</div>

