<div (mouseenter)="onMouseEnter()"
     (mouseleave)="onMouseLeave()"
     #self
     (click)="onMouseLeave()"
     class="user-ref-container">
  <a class="user-ref-a"
     routerLink="/{{ userDto?.profileId }}">
    <div *ngIf="borderRadius"
         class="avatar-container">
      <img [src]="(userDto?.avatarUrl | sirv: size) || 'https://xulgon.sirv.com/assets/avatar.jpg'">
    </div>
    <div class="username"
         *ngIf="!borderRadius">
      {{ userDto?.username }}
    </div>
  </a>
</div>
