<div [ngClass]="isCreatePostChild ? 'create-post-child' : ''"
     class="root">
  <div class="root__inner">
    <div *ngIf="content"
         [ngStyle]="{'margin': mediaMargin}"
         class="media">
      <app-media-layout [photos]="content.photos"
                        [photoSetId]="content.photoSetId"
                        [photoCount]="content.photoCount">
      </app-media-layout>
    </div>
    <div *ngIf="content"
         [ngClass]="content.photos?.length ? 'has-media' : 'no-media'"
         class="body">
      <div class="body__inner">
        <div class="name--timestamp">
          <app-post-header [isAvatarVisible]="true"
                           [isPageNameVisible]="true"
                           [content]="content">
          </app-post-header>
        </div>
        <div class="text">{{ content.text }}</div>
      </div>
    </div>
  </div>
  <div class="content-not-found"
       *ngIf="!content">
    <app-post-not-found size="small"
                        [isShare]="true">
    </app-post-not-found>
  </div>
  <div *ngIf="isDisabled"
       class="disabled"></div>
</div>