@import "src/styles";

$triangle-height: 8px;

.button {
  position: relative;
  user-select: none;
  z-index: 1;
  font-family: inherit;
  cursor: pointer;

  &__inner {
    --icon-size: 23px;
    --padding: 0 15px;
    height: 37px;
    font-weight: 500;
    outline: none;
    font-family: inherit;
    cursor: pointer;
    width: 100%;
    padding: 0px;
    border: none;
    background-color: var(--bg);
    color: var(--fg);
    font-size: 16px;
    position: relative;
    border: none;
    outline: none;
    position: relative;
    transition: 

      200ms cubic-bezier(.08,.52,.52,1) background-color, 
      200ms cubic-bezier(.08,.52,.52,1) box-shadow, 
      200ms cubic-bezier(.08,.52,.52,1) transform; 

    
    &:hover {
      background-color: var(--bg-hover);
    }

    &:active {
      animation: clickScale .1s ease 1; 
    }

    ::ng-deep  {
      [button] {
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        width: 100%;
        padding: var(--padding);
        align-items: center;
        height: 100%;

        > *:not(:last-child) {
          margin-right: 5px;
        }

        i {
          font-size: var(--icon-size);
        }

        img {
          width: var(--icon-size);
          height: var(--icon-size);
          filter: invert(100%);
        }
      }
    }
  }  


  &__options {
    font-weight: 500;
    font-size: 16px;

    ::ng-deep {

      [options] > * {
        display: flex;
        align-items: center;
        padding: 5px;
        border-radius: 5px;

        &:hover {
          background-color: rgba(#eee, .8);
        }

        > *:not(:last-child) {
          margin-right: 10px;
        }

        i {
          font-size: 1.5em;
        }
      }
    }
  }
}
