<div 
#self
class="button">
  <div 
  #inner
  (click)="toggleOptionsVisibility()"
  (clickOutside)="isOptionsVisible = false"
  class="button__inner">
    <ng-content select="[button]"></ng-content>
    <div *ngIf="isX" button="">
        <i class='bx bx-x'></i>
    </div>
  </div>
  <div 
  *ngIf="isOptionsVisible"
  class="triangle"></div>
  <app-pop-up
  *ngIf="isOptionsVisible"
  #options
  class="button__options"
  [parent]="self">
    <ng-content select="[options]"></ng-content>
  </app-pop-up>
</div>
