@import "src/styles";

.error-page {
  @extend %fc;
  position: fixed;
  background-color: #fff;
  z-index: z('navbar')-1;
  top: 56px;
  left: 0;
  right: 0px;
  bottom: 0px;

  > div {
    transform: translateY(-100px);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
