<div class="notif-item">
  <div class="flex-center container">
  <div 
  (click)="click()"
  class="content">
    <!-- <div *ngIf="!notif.isRead" -->
      <!-- class="mark-as-read"></div> -->
    <div class="avatar">
      <div class="img-container">
        <img [src]="notification.actorAvatarUrl" alt="avatar"/>
      </div>
    </div>
    <div 
    [ngStyle]="{ 'color': notification.isRead ? 'var(--secondary-text)' : '#fff'}"
    class="body">
      <div 
      class="notif-text">
        <div *ngIf="notification.type == 'COMMENT'" >
          <strong>{{ notification.actorFullName }}</strong> 
          <span
          *ngIf="notification.actorCount > 1">
            và {{ notification.actorCount-1 }} người khác
          </span>
          <span>
            đã bình luận trong một bài viết của bạn
          </span>
          <span *ngIf="notification.recipientContentBody">
            : "{{ notification.recipientContentBody }}"
          </span>
        </div>
      </div>
      <div class="ago">
        <span>{{ notification.createdAgo }}</span>
      </div>
    </div>
  </div>
    <div 
    (click)="read($event)"
    [ngClass]="notification.isRead ? 'hidden' : 'visible'"
    #isReadIndicator
    class="mark-as-read">
    </div>
  </div>
</div>
