<div *ngIf="photos?.length"
     #self
     class="post-media">
  <div>
    <div *ngFor="let photo of photos.slice(0, 2)">
      <div>
        <app-photo [url]="photos.length == 1 ? photo.thumbnails.s900x900.url : photo.thumbnails.s400x400.url "
                   [setId]="photoSetId"
                   [id]="photo.id"
                   [style]="'width'"></app-photo>
      </div>
    </div>
  </div>
  <div *ngIf="photos.length > 2">
    <div *ngFor="let photo of photos.slice(2, 4); index as index;">
      <div [ngClass]="photos.length == 3 ? 'three': ''">
        <app-photo [url]="photos.length == 3 ? photo.thumbnails.s600x600.url : photo.thumbnails.s400x400.url"
                   [id]="photo.id"
                   [setId]="photoSetId"
                   [style]="'width'"></app-photo>
        <div
          (click)="morePhotoClick($event)"
          class="photos-left"
          *ngIf="index == 1 && photoCount - 4 > 0">
          <span>+{{ photoCount - 4 }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
