@import 'src/styles';

a {
  @extend %fz;

  img {
    object-fit: cover;
    background-color: #ddd;
  }
}

.isComment {
  height: 100%;
  width: auto;
}

.notComment {
  width: 100%;
  aspect-ratio: 1;
}

