<div class="group-content">
  <div class="group-header">
    <div class="content">
      <div class="cover">
        <div class="cover-container">
          <img [src]="group.coverPhotoUrl | sirv: 900 || defaultCoverPhotoUrl" />
        </div>
        <div class="update-cover">
          <app-button background="#fff"
                      *ngIf="group.role == 'ADMIN'"
                      [hasOptions]="true">
            <div button="">
              <i class='bx bxs-camera'></i>
              <span>Thay ảnh bìa</span>
            </div>
            <div options="">
              <div (click)="updateCover('GROUP')">Chọn ảnh từ ảnh trong nhóm</div>
              <div (click)="updateCover('PROFILE')">Chọn ảnh từ trang cá nhân</div>
            </div>
          </app-button>
        </div>
      </div>
      <div class="name--tabs--container">
        <div class="group-name">
          <div class="name-content">
            <div class="name">{{ group?.name }}</div>
            <div class="group-meta">
              <span *ngIf="!group?.isPrivate">
                <i class='bx bx-globe'></i>
                <span>Nhóm công khai</span>
              </span>
              <span *ngIf="group?.isPrivate">
                <i class='mr-5 bx bx-lock-alt'></i>
                <span>Nhóm riêng tư</span>
              </span>
              <span> · </span>
              <span> {{ group?.memberCount }} thành viên </span>
            </div>
          </div>
          <div class="invite"></div>
        </div>
      </div>
    </div>
  </div>
  <app-tab-bar [tabs]="tabs"
               [pageId]="group?.id || 0"
               pageType="GROUP"
               [pageName]="group?.name || ''"
               [pagePath]="'/groups/' + group?.id || ''"
               [avatar]="group?.coverPhotoUrl || ''">
    <div actions
         class="actions">
      <app-button *ngIf="!group?.isMember && !group?.isRequestSent"
                  class="join-group"
                  color="#fff"
                  background="#1877f2">
        <div (click)="sendJoinRequest() "
             button="">
          <div>Tham gia nhóm</div>
        </div>
      </app-button>

      <app-button *ngIf="group?.isRequestSent"
                  (click)="cancelJoinRequest()"
                  class="cancel-request">
        <div button="">
          <div>Huỷ yêu cầu</div>
        </div>
      </app-button>

      <app-button *ngIf="group?.isMember"
                  [hasOptions]="true"
                  class="more-action-btn">
        <div button="">
          <div>
            <i class='bx bx-dots-horizontal-rounded'></i>
          </div>
        </div>
        <div options>

          <div (click)="unfollow()"
               *ngIf="group?.isMember && group?.isFollow">
            <img class="hu5pjgll lzf7d6o1 hoverZoom3 hoverZoomMouseover"
                 src="https://static.xx.fbcdn.net/rsrc.php/v3/yI/r/bnvx9uLOEsq.png"
                 alt=""
                 height="20"
                 width="20">
            <span>Bỏ theo dõi nhóm</span>
          </div>

          <div (click)="follow()"
               *ngIf="group?.isMember && !group?.isFollow">
            <img class="hu5pjgll lzf7d6o1 hoverZoom3 hoverZoomMouseover"
                 src="https://static.xx.fbcdn.net/rsrc.php/v3/yO/r/mmBjIBwUbcB.png"
                 alt=""
                 height="20"
                 width="20">
            <span>Theo dõi nhóm</span>
          </div>

          <div (click)="leaveGroup()"
               *ngIf="group?.isMember">
            <i data-visualcompletion="css-img"
               class="hu5pjgll lzf7d6o1"
               style="background-image: url(&quot;https://static.xx.fbcdn.net/rsrc.php/v3/y1/r/aNLwlzZaZKa.png&quot;); background-position: 0px -84px; background-size: auto; width: 20px; height: 20px; background-repeat: no-repeat; display: inline-block;"></i>
            <span>Rời nhóm</span>
          </div>
        </div>
      </app-button>
    </div>
  </app-tab-bar>

  <div #groupTimeline
       class="group-body">
    <div class="content-container">
      <router-outlet></router-outlet>
    </div>
  </div>