<div class="post">
  <div class="opts-container">
    <app-button optionsAlignment="RIGHT"
                [hasOptions]="true"
                width="36px"
                height="36px"
                [isRounded]="true"
                background="transparent"
                backgroundHover="#f0f2f5">
      <div button>
        <i class='bx bx-dots-horizontal-rounded'></i>
      </div>
      <div options>
        <div (click)="unfollowPage()"
             *ngIf="post.isFollowPage">
          <img class="hu5pjgll lzf7d6o1 hoverZoom3 hoverZoomMouseover"
               src="https://static.xx.fbcdn.net/rsrc.php/v3/yI/r/bnvx9uLOEsq.png"
               alt=""
               height="20"
               width="20">
          <span>Bỏ theo dõi {{ post.pageName }}</span>
        </div>

        <div (click)="unfollow()"
             *ngIf="post.isFollow">
          <i data-visualcompletion="css-img"
             class="hu5pjgll lzf7d6o1"
             style="background-image: url(&quot;https://static.xx.fbcdn.net/rsrc.php/v3/yb/r/IdnFteCuiox.png&quot;); background-position: 0px -257px; background-size: auto; width: 20px; height: 20px; background-repeat: no-repeat; display: inline-block;"></i>
          <span>Tắt thông báo với bài viết này</span>
        </div>

        <div (click)="follow()"
             *ngIf="!post.isFollow">
          <i data-visualcompletion="css-img"
             class="hu5pjgll lzf7d6o1"
             style="background-image: url(&quot;https://static.xx.fbcdn.net/rsrc.php/v3/yb/r/IdnFteCuiox.png&quot;); background-position: 0px -299px; background-size: auto; width: 20px; height: 20px; background-repeat: no-repeat; display: inline-block;"></i>
          <span>Bật thông báo với bài viết này</span>
        </div>

        <div (click)="delete()"
             *ngIf="post.user.id == principalId || groupResponse?.role == 'ADMIN'">
          <i data-visualcompletion="css-img"
             class="hu5pjgll lzf7d6o1"
             style="background-image: url(&quot;https://static.xx.fbcdn.net/rsrc.php/v3/yb/r/IdnFteCuiox.png&quot;); background-position: 0px -992px; background-size: auto; width: 20px; height: 20px; background-repeat: no-repeat; display: inline-block;"></i>
          <span>Xoá bài viết</span>
        </div>
      </div>
    </app-button>
  </div>

  <div class="post-header">
    <app-post-header [content]="post"
                     [isPageNameVisible]="isGroupNameVisible">
    </app-post-header>
  </div>

  <div class="post-body">
    <div class="body-text__wrapper">
      <div #postBodyText
           class="post-body__text">{{ post.text }}
      </div>
      <span *ngIf="isTextClamped"
            class="unclamp"
            (click)="unclampText()">Xem thêm
      </span>
    </div>

    <div class="media">
      <app-media-layout [photos]="post.type == 'POST' ? post.photos : []"
                        [photoSetId]="post.photoSetId"
                        [photoCount]="post.photoCount">
      </app-media-layout>
    </div>

    <app-shared-content [content]="post.sharedContent"
                        *ngIf="post.hasShare"
                        mediaMargin="0px -15px">
    </app-shared-content>
  </div>
  <div class="post-meta">
    <div>
      <div [ngStyle]="{'visibility': post.reactionCount ? 'visible' : 'hidden'}"
           #reactionCount
           class="flex-center reaction-count">
        <img src="https://xulgon.sirv.com/assets/like-16x16.png"
             style="margin-right: 2px;"> {{ post.reactionCount }}
      </div>
    </div>
    <div class="comment-share-count">
      <span (click)="toggleComment()"
            *ngIf="post.commentCount > 0"
            class="comment-count">
        {{ post.commentCount }} bình luận
      </span>
      <span *ngIf="post.shareCount > 0"
            class="share-count">
        {{ post.shareCount }} lượt chia sẻ
      </span>
    </div>
  </div>

  <div class="post-actions">
    <div (click)="react()"
         class="reaction-action">
      <span [ngStyle]="{'color': post.isReacted ? '#1876F2' : 'inherit'}">
        <i *ngIf="!post.isReacted"
           class='bx bx-like'></i>
        <i *ngIf="post.isReacted"
           class='bx bxs-like'></i>
        <span>Thích</span>
      </span>
    </div>
    <div class="comment-action"
         (click)="comment()">
      <span>
        <i class='bx bx-message-alt'></i> Bình luận
      </span>
    </div>
    <div (click)="isShareOptionsHidden = !isShareOptionsHidden"
         #shareButton
         *ngIf="
          (post.hasShare && post.sharedContent?.privacy == 'PUBLIC')
          || (!post.hasShare && post.privacy == 'PUBLIC' && (post?.text?.trim()
            || post?.photos?.length))"
         class="share-action">
      <span>
        <i class='bx bx-share'></i>
        <span>Chia sẻ</span>
      </span>
      <app-popup [parent]="shareButton"
                 *ngIf="!isShareOptionsHidden">
        <div (clickOutside)="isShareOptionsHidden = true"
             [delayClickOutsideInit]="true"
             class="share-action__options">
          <div (click)="shareOnTimeline()">Chia sẻ trên trang cá nhân</div>
          <div (click)="shareInGroup()">Chia sẻ trong nhóm</div>
        </div>
      </app-popup>
    </div>
  </div>
  <div [hidden]="!isCommentVisible"
       class="comments">
    <app-comment-list [totalCommentCount]="post.commentCount"
                      [initCommentCount]="initCommentCount"
                      [parentId]="post.id"
                      [rootContentId]="post.id">
    </app-comment-list>
  </div>
</div>
