@import "src/styles";

.root {
  position: fixed;
  z-index: z('modal');
  font-weight: 500;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  &__inner {
    margin-top: -100px;
    ::ng-deep {
      > * {
        transform: translateY(-100px);
        position: absolute;
        transform: translate(-50%, -50%);
      }
    }
  }
}