.square-img {
  width: 100%;
  aspect-ratio: 1;
  box-sizing: border-box;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid rgba(#333, .2);
  overflow: hidden;
  line-height: 0;

  img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
  }
}