@import "src/styles";

.group-member {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;

  &__inner {
    @include card(10px);
    padding: 15px;
    width: 100%;
    max-width: 500px;

    .title-search {
      padding-bottom: 15px;
      border-bottom: 1px solid rgba(#333, .2);

      .title {
        font-size: 17px;
        font-weight: 500;
        margin-bottom: 10px;
      }

      .search {
        @extend %input-group;
        height: 35px;
      }
    }

    .body {
      .title {
        margin: 10px 0;
        font-weight: 500;
        font-size: 15px;
      }

    }
  }
}
