@import "src/styles";

.group-feed {

	position: relative;
	top: 56px;
	.group-feed__inner {
		display: flex;

		.content {
			flex-grow: 1;
			display: flex;
			justify-content: center;

			.post-list {
				margin-top: 20px;
				width: 500px;
			}
		}

		.content-sidebar {
			flex: 0 0 360px;

			.sidebar {
				background-color: #fff;
				position: fixed;
				top: 56px;
				box-shadow: -2px 0 4px 0 rgba(#000, .2);
				font-weight: 500;
				padding: 10px 8px;
				box-sizing: border-box;
				width: 360px;
				bottom: 0;

				.menu {
					border-bottom: 1px solid rgba(#333, .2);
					padding-bottom: 5px;

					.title {
						font-size: 24px;
						font-weight: 700;
						padding-left: 10px;
					}
					.input-group {
						@extend %input-group;
						margin: 10px 8px;
						height: 35px;
					}
				}

				.menu-items {
					font-weight: 500;

					.my-feed {
						background-color: #e7f3ff;
						// .icon-cont {
						// 	background-color: $btn-blue;
						// }
					}
					> div {
						border-radius: 10px;
						padding: 0 8px;
						display: flex;
						align-items: center;
						height: 52px;
						box-sizing: border-box;

						.icon-cont {
							@extend %fc;
							width: 35px;
							height: 35px;
							border-radius: 50%;
							margin-right: 8px;
							background-color: $btn-grey;

							i {
								font-size: 25px;
							}
						}
						
					}
				}

				.create-group {
					@extend %fc;
					padding: 5px;
					border-radius: 5px;
					color: $btn-blue;
					background-color: #e7f3ff;
					margin: 5px 8px;
					

					&__inner {
						display: flex;
						align-items: center;
					}
				}
			}
			.admin-groups {
				padding: 10px 0;
				border-bottom: 1px solid rgba(#333, .2);
				&__title {
					font-size: 17px;

				}
			}
			.groups {
				&__title {
					margin-top: 10px;
					font-size: 17px;

				}

			}
		}

	}
}
		.group-cont {
			margin-top: 10px;
			display: flex;
			padding: 2px 5px;
			.avatar {
				width: 60px;
				height: 60px;
				margin-right: 10px;
				border: 1px solid rgba(#333, .15);
				border-radius: 5px;
				overflow: hidden;

				img {
					width: 100%;
					aspect-ratio: 1;
					object-fit: cover;
				}
			}
			.name {
				display: flex;
				align-items: center;
			}
		}