<div class="group-feed">
	<div class="group-feed__inner">
			<div class="content-sidebar">
				<div class="sidebar">
					<div class="menu">
						<div class="title">

							<span>Nhóm</span>
						</div>
						<div class="input-group">
							<i class='bx bx-search' ></i>
							<input type="text" placeholder="Tìm kiếm nhóm" name="" id="">
						</div>
						<div class="menu-items">
							<div class="my-feed">
								<div class="icon-cont">
									<i class='bx bx-news' ></i>
								</div>
								<span>Bảng tin của bạn</span>
							</div>
							<div class="discover">
								<div class="icon-cont">

									<i class='bx bxs-compass' ></i>
								</div>
								<span>Khám phá</span>
							</div>
						</div>
							<div class="create-group">
								<div class="create-group__inner">
									<i class='bx bx-plus' ></i>
									<div>Tạo nhóm mới</div>
								</div>
							</div>

					</div>
					<div class="admin-groups">
						<div class="admin-groups__title">
							<span>Nhóm do bạn quản lý</span>
						</div>
						<div class="group-list">
							<a 
							href=""
							class="group-cont">
								<div class="avatar">
									<img src="assets/machine.jpg" /> 
								</div>
								<div class="name">
									Forum Machine Learning cơ bản
								</div>
							</a>
						</div>
					</div>
					<div class="groups">
						<div class="groups__title">
							Nhóm bạn đã tham gia
						</div>
					</div>
				</div>
			</div>
			<div class="content">
				<div class="post-list">

				<app-post-list
				></app-post-list>
				</div>
			</div>
	</div>
</div>
