<a (click)="route($event)"
   routerLink="{{ request?.requesterProfileId }}"
   routerLinkActive="active"
   [relativeTo]="activatedRoute"
   href="/{{ request?.requesterProfileId }}">
  <li class="request">
    <div class="avatar">
      <img [src]="(request?.requesterAvatarUrl | sirv: 100) || 'assets/avatar.jpg'">
    </div>
    <div class="request-info">
      <div class="username--time">
        <span class="username"> {{ request?.requesterName }}</span>
        <span>{{ request?.createdAgo }}</span>
      </div>
      <div *ngIf="request.commonFriendCount > 0"
           class="common-friends-count">
        {{ request?.commonFriendCount }} bạn chung
      </div>
      <div #actions
           class="request-actions">
        <app-button background="#1877f2"
                    color="#fff">
          <div (click)="accept($event) "
               button="">
            <div>Xác nhận</div>
          </div>
        </app-button>

        <app-button>
          <div (click)="decline($event) "
               button="">
            <div>Xoá</div>
          </div>
        </app-button>
      </div>
    </div>
  </li>
</a>