@import 'src/styles';

a {
  &:hover {
    text-decoration: underline;
    text-decoration-thickness: 1px;
  }
}

:host {
  display: flex;
  row-gap: 17px;
  flex-direction: column;
}


.post-container {
  width: 100%;
  @include card(10px);
}