<div class="chat-noti-item">
	<div class="content">
		<div class="avatar">
			<div class="avatar-container">
				<img src="assets/{{url}}" />
			</div>
		</div>
		<div class="body">
			<div class="name">{{name}}</div>
			<div class="msg--ago">
				<span class="msg">{{msg}}</span>
				<span> · </span> 
				<span class="ago">{{ago}}</span>
			</div>
		</div>
	</div>
	<div class="opts">
		<div class="opts-btn">
			<i class='bx bx-dots-horizontal-rounded'></i>
			<div class="opts-popup">
				<div>Đánh dấu là đã đọc</div>
			</div>
		</div>
	</div>
</div>
