@import "src/styles";

.chat-notif {
  position: relative;
  cursor: pointer;
  width: 40px;
  height: 40px;


  .button {
    @extend %fz;
    @extend %fc;
    border-radius: 50%;
    background-color: $secondary-button-background;

    &.active {
      background-color: rgba($active-tab, .15);
      color: $active-tab;
    }

    > i {
      font-size: 20px;
    }

    &:active {
      animation: clickScale .1s ease 1;
    }

    .unread {
      @extend %fc;
      position: absolute;
      width: 19px;
      height: 19px;
      font-size: 13px;
      font-weight: 500;
      border-radius: 50%;
      background-color: #F02849;
      color: #fff;
      top: -5%;
      right: -20%;
    }
  }

  .chat-notif-popup {
    cursor: default;
    position: fixed;
    font-size: 15px;
    top: 54px;
    right: 15px;
    bottom: 20px;
    z-index: 1001;
    width: 360px;

    .content {
      @include scrollbar(15px);
      overflow: auto;
      overflow-y: overlay;
      border-radius: 10px;
      padding: 10px 15px;
      max-height: 100%;
      box-sizing: border-box;
      background-color: #fff;
      box-shadow: 0 12px 28px 0 rgba(#000, .2), 
          0 2px 4px 0 rgba(#000,.1), 
          inset 0 0 0 1px rgba(#fff, .5);

      .search {
        .input-group {
          @extend %input-group;
          height: 40px;
        }
        margin-bottom: 10px;
      }

    }
  }
}
