@import '../../../../styles';

a {
  user-select: none;
  @extend %fz;

  display: flex;
  img {
    object-fit: cover;
    background-color: #ddd;
  }
}

.isComment {
  height: 100%;
  width: auto;
}

.notComment {
  width: 100%;
  aspect-ratio: 1;
}

