.post-header {
  background-color: #fff;
  width: 100%;
  box-sizing: border-box;

  .avatar-name {
    width: 100%;
    display: flex;
    position: relative;

    .name--page {
      margin-right: 40px;
      flex

      i {
        font-size: 11px;
        margin: 0 5px;
        color: #777;
      }

      .group-name {

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .post-avatar {
      width: 45px;
      flex-shrink: 0;
      position: relative;
      height: 45px;
      margin-right: 10px;

      img {
        object-fit: cover;
        width: 100%;
      }
    }

    .name-date {
      font-weight: 500;
      flex-direction: column;
      display: flex;
      box-sizing: border-box;
      margin-right: 30px;
      justify-content: center;

      .date--privacy {
        margin-top: 5px;
        font-size: 13px;
        color: grey;
        display: flex;

        a {
          &:hover {
            text-decoration: underline;
          }
        }

        .privacy {
          display: flex;
          align-items: center;
          font-size: 15px;
          margin-left: 5px;
        }
      }
    }
  }
}