<div class="post-header">
  <div class="avatar-name">
    <div *ngIf="isAvatarVisible"
         class="post-avatar">
      <app-user-ref borderRadius="50%"
                    [size]="40"
                    [userDto]="content.user">
      </app-user-ref>
    </div>
    <div class="name-date"
         style="position: relative;">
      <div class="name--page">
        <div class="name">
          <app-user-ref *ngIf="!isPageNameVisible || content.pageType != 'GROUP'"
                        [userDto]="content.user">
          </app-user-ref>
        </div>
        <div class="group-name"
             *ngIf="isPageNameVisible && content.pageType == 'GROUP'">
          <a routerLink="/groups/{{ content.pageId }}">
            <span>{{ content.pageName }}</span>
          </a>

        </div>
      </div>
      <div class="date--privacy">
        <app-user-ref *ngIf="isPageNameVisible && content.pageType == 'GROUP'"
                      [userDto]="content.user">
        </app-user-ref>

        <span *ngIf="isPageNameVisible && content.pageType == 'GROUP'">&nbsp;·&nbsp;</span>
        <a [routerLink]="contentUrl">
          {{ content.createdAt }}
        </a>
        <span class="privacy">
          <i *ngIf="content.privacy == 'FRIEND'"
             class='bx bxs-group'></i>
          <i *ngIf="content.privacy == 'PUBLIC'"
             class='bx bx-globe'></i>
          <i *ngIf="content.privacy == 'ME'"
             class='bx bxs-lock-alt'></i>
          <i *ngIf="content.privacy == 'GROUP'"
             class='bx bxs-network-chart'></i>
        </span>
      </div>
    </div>
  </div>
</div>