<div class="create-post-container">
  <form class="create-post" enctype="multipart/form-data" [formGroup]="postForm" (ngSubmit)="submit()">
    <div class="flex-center post-title">
      <span>Tạo bài viết</span> 
      <div (click)="closeSelf()" class="x-btn"><i class='bx bx-x'></i></div>
    </div>
    <div class="create-post-body">
      <div class="post-info">
        <div class="avatar">
          <img [src]="avatarUrl">
        </div>
        <div class="name--privacy">
          <div class="name">{{ username }}</div>
          <div class="privacy">
            <span>
              <i class='bx bx-globe'></i>
              <span>Công khai</span>
              <i style="font-size: 9px; margin-left: 2px" class='bx bxs-down-arrow'></i>
            </span>
          </div>
        </div>
      </div>
      <div class="post-content">

        <div class="post-text">
          <textarea formControlName="textarea" autofocus (input)="autoGrow($event)"></textarea>
        </div>
        <div *ngIf="photos.length > 0" class="post-photos">
          <div>
            <div *ngFor="let photo of photos.slice(2, 4)">
              <div>
                <img [src]="photo" >
              </div>
            </div>
          </div>
          <div>
            <div *ngFor="let photo of photos.slice(0, 2)">
              <div>
                <img [src]="photo" >
              </div>
            </div>
          </div>
        </div>
      </div>
        <div class="post-addition">
          <div>Thêm vào bài viết</div>
          <div>
            <input formControlName="fileInput" accept="image/*"  type="file" (change)="onSelectImage($event)" #uploadImage>
            <div (click)="uploadImage.click()" class="upload-image"><i class='bx bxs-file-image' ></i></div>
          </div>
        </div>
        <button type="submit" class="btn-post" [attr.disabled]="(photos.length == 0 && postForm.get('textarea')?.value == '') ? true : null" >Đăng</button>
    </div>
  </form>
</div>
