
@import 'src/styles';

.profile-header {
  z-index: 1;
  width: 100%;
  box-shadow: 0 1px 2px #00000033;
  background-color: #fff;

  .cover-avatar {
    height: 350px;
    width: 940px;
    display: flex;
    position: relative;
    justify-content: center;

    .cover {
      width: 100%;
      height: 100%;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      overflow: hidden;

      @extend %flex-center;
      
      img {
        object-fit: cover;
        width: 100%;
        height: auto;
      }
    }

    .avatar-container {
      height: 175px;
      width: 175px;
      background-color: #fff;
      position: absolute;
      border-radius: 50%;
      bottom: -20px;

      .avatar {
        height: 168px;
        width: 168px;
        border: 1px solid #00000033;
        border-radius: 50%;
        overflow: hidden;
        cursor: pointer;

        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }

  .profile-name {
    font-family: 'Segoe UI';
    height: 40px;
  }

  .actions-menu {
    height: 60px;    
    width: 892px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #00000044;

    .profile-menu {
      display: flex;
      height: 100%;
      font-weight: 500;
      font-family: 'Segoe UI';
      color: #65676B;

      > * {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px 5px;

        > * {
          width: 100%;
          height: 100%;
          border-radius: 5px;
          cursor: pointer;
          padding: 0 15px;

          &:hover {
            background-color: var(--bg-color);
          }
        }
      }
    }
    
    .profile-actions {
      display: flex;
      align-items: center;

      i {
        font-size: 20px;
        margin-right: 3px;
      }

      button {
        font-size: 15px;
        font-weight: 700;
        @extend %flex-center;

        &:not(:last-child) {
          margin-right: 10px;
        }
      }

      #add-friend {
        @include button(#1877f2, #fff);
      }

      #friend-opts {
        @include button(#1877f2, #fff);
      }

      #send-message {
        @include button(#ddd, #000);
      }

      #delete-friend-request {
        @include button(#ddd, #000);
      }

      #request-respond {
        @include button(#1877f2, #fff);
      }
    }
  }
}

.profile-body {
  margin-top: 17px;
  width: 100%;
  display: flex;
  justify-content: center;
  
  .content {
    width: 892px;
    display: grid;
    grid-template-columns: 360px 1fr;
    grid-gap: 17px;

    .sidebar-container {
      font-weight: 500;
    }
    
    .sidebar {
      font-family: 'Segoe UI';
      font-weight: 500;
    

      > * {
        @include card(10px);
        background-color: #fff;
        padding: 15px 15px;
        margin-bottom: 20px;
      }

      .intro {
        max-height: 500px;
        font-size: 16px;

        > div {
          display: flex;
          align-items: center;

          i {
            font-size: 30px;
            margin-right: 10px;
          }
        }
      }

      .photo-intro {
        max-height: 600px;


        .photo {
          display: grid;
          column-gap: 3px;
          border-radius: 10px;
          overflow: hidden;
          grid-template-columns: repeat(3, 1fr);
          
          > div {
            width: 100%;
            height: 0;
            padding-bottom: 100%;
          }

        }

      }

      .friend-intro {
        max-height: 600px;

        .friend {
          display: grid;
          grid-gap: 10px;
          grid-template-columns: repeat(3, 1fr);

          .img-container {
            border-radius: 10px;
            overflow: hidden;
            width: 100%;
            height: 0;
            padding-bottom: 100%;

          }
          img {
            object-fit: cover;
            width: 100%;
          }
          .common-friend-count {
            font-size: 14px;
            font-weight: 400;
          }
        }
      }
    }

    .timeline {
      flex-grow: 1;
    }
  }
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-not-exist {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #fff;
  @extend %flex-center;
}