
@mixin button($bg, $fg) {
  height: 37px;
  padding: 0 12px;
  border-radius: 5px;
  background-color: $bg;
  font-family: 'Segoe UI';
  font-weight: 500;
  color: $fg;
  cursor: pointer;
  border: none;
  outline: none;
  &:hover {
    background-color: darken($bg, 3%);
  }
}
.profile-header {
  z-index: 1;
  width: 100%;
  background-color: #fff;

  .cover-avatar {
    height: 350px;
    width: 940px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #000;
    display: flex;
    position: relative;
    justify-content: center;

    .cover {
      width: 100%;
      height: 100%;
    }

    .avatar-container {
      height: 175px;
      width: 175px;
      background-color: #fff;
      position: absolute;
      border-radius: 50%;
      bottom: -20px;

      .avatar {
        height: 168px;
        width: 168px;
        border-radius: 50%;
        overflow: hidden;
        cursor: pointer;

        img {
          height: 100%;
          width: 100%;
        }
      }
    }
  }

  .profile-name {
    // font-size: 28px;
    // font-weight: bold;
    font-family: 'Segoe UI';
    height: 40px;
  }

  .actions-menu {
    height: 60px;    
    width: 892px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #00000044;

    .profile-menu {
      display: flex;
      height: 100%;
      font-weight: 500;
      font-family: 'Segoe UI';
      color: #65676B;

      > * {
        // border: 1px solid red;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px 5px;

        > * {
          width: 100%;
          height: 100%;
          border-radius: 5px;
          cursor: pointer;
          padding: 0 15px;

          &:hover {
            background-color: var(--bg-color);
          }
        }
      }
    }
    
    .profile-actions {
      display: flex;
      align-items: center;
      #add-friend {
        @include button(#1877f2, #fff);
        margin-right: 10px;
      }
      #send-message {
        @include button(#ddd, #000);
      }
    }
  }
}

.profile-body {
  margin-top: 20px;
  width: 100%;
  
  .content {
    width: 892px;
    display: flex;

    .sidebar {
      font-family: 'Segoe UI';
      font-weight: 500;
      margin-right: 10px;
      flex: 0 0 360px;
    

      > * {
        border-radius: 10px;
        background-color: #fff;
        padding: 15px 15px;
        margin-bottom: 20px;
      }

      .intro {
        max-height: 500px;
      }

      .photo-intro {
        max-height: 600px;
        img {
          height: 100%;
          width: 100%;
        }
        .photo {
          display: grid;
          grid-gap: 10px;
          grid-template-columns: repeat(3, 1fr);
        }

      }
      .friend-intro {

        max-height: 600px;
        img {
          height: 100%;
          width: 100%;
        }

        .friend {
          display: grid;
          grid-gap: 10px;
          grid-template-columns: repeat(3, 1fr);
        }
      }
    }

    .timeline {
      flex-grow: 1;
    }
  }
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}