@import "src/styles";

.dialog {
  visibility: hidden;
  position: fixed;
  display: flex;
  justify-content: center;
  z-index: $modal-z-index;
  width: 100%;
  height: 100%;
  align-items: center;
  background-color: rgba(#000, .7);

  &__inner {
    $horizontalPadding: 15px;
    position: relative;
    background-color: #fff;
    width: 40%;
    min-width: 500px;
    border-radius: 10px;
    box-shadow: $box-shadow-wide;

    .title {
      display: flex;
      font-size: 19px;
      padding: 20px $horizontalPadding;
      align-items: center;
      font-weight: 600;
      border-bottom: 1px solid rgba(#333, .2);
      .x {
        position: absolute;
        right: 15px;
      }
    }

    .body {
      padding: 10px $horizontalPadding;
      font-size: 16px;

      .confirmation {
        margin-top: 20px;
        display: flex;
        justify-content: right;
        align-items: center;

        .container {
          display: grid;
          grid-template-columns: 1fr 1fr;
          column-gap: 10px;
        }
      }
    }
  }
}