
<div class="chat-notification">
	<div class="content">
		<div class="title">
			<h2>Nhắn tin</h2>
		</div>
		<div class="search">
			<div class="input-group">
				<i class='bx bx-search' ></i>
				<input type="text" class="input" placeholder="Tìm kiếm...">
			</div>
		</div>
		<div class="notis">
			<app-chat-notification-item></app-chat-notification-item>
			<app-chat-notification-item></app-chat-notification-item>
			<app-chat-notification-item></app-chat-notification-item>
			<app-chat-notification-item></app-chat-notification-item>
			<app-chat-notification-item></app-chat-notification-item>
			<app-chat-notification-item></app-chat-notification-item>
			<app-chat-notification-item></app-chat-notification-item>
			<app-chat-notification-item></app-chat-notification-item>
			<app-chat-notification-item></app-chat-notification-item>
			<app-chat-notification-item></app-chat-notification-item>
			<app-chat-notification-item></app-chat-notification-item>
			<app-chat-notification-item></app-chat-notification-item>
			<app-chat-notification-item></app-chat-notification-item>
			<app-chat-notification-item></app-chat-notification-item>
			<app-chat-notification-item></app-chat-notification-item>
			<app-chat-notification-item></app-chat-notification-item>
			<app-chat-notification-item></app-chat-notification-item>
			<app-chat-notification-item></app-chat-notification-item>
			<app-chat-notification-item></app-chat-notification-item>
			<app-chat-notification-item></app-chat-notification-item>
			<app-chat-notification-item></app-chat-notification-item>
			<app-chat-notification-item></app-chat-notification-item>
			<app-chat-notification-item></app-chat-notification-item>
			<app-chat-notification-item></app-chat-notification-item>
			<app-chat-notification-item></app-chat-notification-item>
			<app-chat-notification-item></app-chat-notification-item>
			<app-chat-notification-item></app-chat-notification-item>
			<app-chat-notification-item></app-chat-notification-item>
			<app-chat-notification-item></app-chat-notification-item>
			<app-chat-notification-item></app-chat-notification-item>
			<app-chat-notification-item></app-chat-notification-item>
			<app-chat-notification-item></app-chat-notification-item>
			<app-chat-notification-item></app-chat-notification-item>
			<app-chat-notification-item></app-chat-notification-item>
			<app-chat-notification-item></app-chat-notification-item>
			<app-chat-notification-item></app-chat-notification-item>
			<app-chat-notification-item></app-chat-notification-item>
			<app-chat-notification-item></app-chat-notification-item>
			<app-chat-notification-item></app-chat-notification-item>
			<app-chat-notification-item></app-chat-notification-item>
			<app-chat-notification-item></app-chat-notification-item>
			<app-chat-notification-item></app-chat-notification-item>
			<app-chat-notification-item></app-chat-notification-item>
			<app-chat-notification-item></app-chat-notification-item>
			<app-chat-notification-item></app-chat-notification-item>
			<app-chat-notification-item></app-chat-notification-item>
			<app-chat-notification-item></app-chat-notification-item>
			<app-chat-notification-item></app-chat-notification-item>
			<app-chat-notification-item></app-chat-notification-item>
			<app-chat-notification-item></app-chat-notification-item>
			<app-chat-notification-item></app-chat-notification-item>
			<app-chat-notification-item></app-chat-notification-item>
			<app-chat-notification-item></app-chat-notification-item>
			<app-chat-notification-item></app-chat-notification-item>
			<app-chat-notification-item></app-chat-notification-item>
			<app-chat-notification-item></app-chat-notification-item>
			<app-chat-notification-item></app-chat-notification-item>
			<app-chat-notification-item></app-chat-notification-item>
			<app-chat-notification-item></app-chat-notification-item>
		</div>
	</div>
</div>