.friend-list {
  background-color: #fff;
  padding: 0 20px 20px 20px;
  border-radius: 10px;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .right-side {

      .input-group {
        display: flex;
        align-items: center;
        position: relative;

        .icon {
          position: absolute;
          left: 7px;
          font-size: 17px;
        } 

        input {
          width: 200px;
          height: 33px;
          background-color: var(--bg-color);
          font-size: 15px;
          border: none;
          outline: none;
          border-radius: 20px;
          padding: 0 5px 0 30px;
        }
      }
    }
  }

  .items {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(2, 1fr);
  }
}