$width: calc(892px * .2);

.photo-list {
  padding: 10px 15px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(#000, .2);
  .content {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 7px;
  }

  @for $i from 1 through 4 {
    @media screen 
      and (max-width: calc(#{$width} * #{$i})) 
      and (min-width: calc(#{$width} * #{$i - 1})){
      .content {
        grid-template-columns: repeat($i, 1fr);
      }
    }
  }
}
