@import "../../../styles";

.post-skeleton {
  @include card(10px);
  padding: 15px;
  $bg: #dfdfdf;


  .header {
    display: flex;

    .avatar {
      border-radius: 50%;
      width: 40px;
      @extend %loading-animation;
      height: 40px;
      margin-right: 10px;
    }

    .name--date {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      > div {
        @extend %loading-animation;
        width: 150px;
        height: 12px;
        border-radius: 10px;
      }

      .date {
        margin-top: 5px;
        width: 100px;
      }
    }
  }

  .body {
    margin: 10px 0;
    height: 150px;;
  }

  .actions {
    display: flex;
    justify-content: space-between;
    align-items: center;

    > div {
      @extend %loading-animation;
      width: 50px;
      height: 12px;
      border-radius: 10px;
    }
  }
}

