<div [ngStyle]="{'top': isGroup ? '' : '20px'}"
     class="post-view">
  <div [ngStyle]="{'width': isGroup ? '100%' : '680px'}"
       class="post-view__inner">
    <app-post-not-found *ngIf="notFound"></app-post-not-found>
    <div *ngIf="!notFound && post"
         class="post">
      <app-post *ngIf="post"
                (remove)="onDelete()"
                [isCommentVisible]="true"
                [post]="post">
      </app-post>
    </div>
    <app-post-skeleton *ngIf="!post && !notFound"></app-post-skeleton>
  </div>
</div>