<div #self [ngStyle]="style"
     class="toaster">
  <div class="toaster__inner">
    <div class="icon-wrapper">
      <div *ngIf="messageType == MessageType.ERROR"
           class="error">
        <i class='bx bx-x-circle'></i>
      </div>

      <div *ngIf="messageType == MessageType.SUCCESS"
           class="success">
        <i class='bx bx-check-circle'></i>
      </div>
    </div>
    <div class="message">
      <span>{{ message }}</span>
    </div>
    <app-button class="x-button"
                (click)="hideToaster()"
                width="27px"
                height="27px"
                [isRounded]="true">
      <div button="">
        <i class='x-icon-small'></i>
      </div>
    </app-button>
  </div>
</div>