@import "../../../../styles";

.toaster {
  position: fixed;
  border-radius: 10px;
  max-width: 400px;
  z-index: z('toaster');
  left: 60px;
  bottom: 30px;
  visibility: hidden;
  padding: 15px;
  opacity: 0;
  background-color: #fff;
  box-shadow: $box-shadow-wide;
  transition: transform .2s, visibility .2s, opacity .2s;
  transform: translateY(20px);

  &.slide.slide {
    transform: translateY(0px);
    visibility: visible;
    opacity: 1;
  }


  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;

    .icon-wrapper {
      font-size: 30px;

      > * {
        display: flex;
        align-items: center;
        height: 100%;
      }

      .success {
        color: #00a400;
      }

      .error {
        color: #FF0000;
      }
    }

    .message {
      font-size: 16px;
      margin-left: 10px;
      margin-right: 20px;
    }

    .x-button {
      right: 10px;
    }
  }
}
