@import "src/styles";

.group-timeline {
	display: grid;
	grid-template-columns: 1fr 360px;
	gap: 17px;

	.timeline-sidebar {


			.group-meta {
				@include card(10px);
				padding: 20px;
				.privacy {
					> * {
						display: grid;
						grid-template-columns: 30px 1fr;
					}
				}
			}
	}
}
