<div class="group-timeline">
	
	<div class="content">
		<app-group-create-post
		[groupResponse]="groupResponse"
		></app-group-create-post>
		<app-post-list></app-post-list>
			
	</div>
	<div class="timeline-sidebar">

			<div class="group-meta">
				<div class="about mb-20">
					<div class="w-500 f-17 mb-20">Giới thiệu</div>
					<span>Thảo luận các vấn đề Machine Learning cơ bản.
Theo blog: https://machinelearningcoban.com
Diễn đàn: https://forum.machinelearningcoban.com/ Ẩn bớt</span>
					
				</div>
				<div class="hidden">
					<!-- <div>

						<span>Ẩn</span>	
					</div>
					<div>
						<span>Hiển thị</span>
					</div> -->
				</div>
				<div class="privacy">
		
	
					<div *ngIf="groupResponse?.isPrivate">
						<div class="f-17">
							<i class='bx bxs-lock-alt' ></i>
						</div>
						<div>
							<div class="f-17 w-500">Riêng tư</div>
							<div style="margin-top: 10px;">Chỉ thành viên mới nhìn thấy mọi người trong nhóm và những gì họ đăng.</div>
						</div>
					</div>

					<div *ngIf="!groupResponse?.isPrivate">
						<div class="f-17">
							<i class='bx bx-globe' ></i>
						</div>
						<div>
							<div class="f-17 w-500">Công khai</div>
							<div style="margin-top: 10px;">Ai cũng có thể nhìn thấy mọi người trong nhóm và những gì họ đăng.</div>
						</div>
					</div>
				</div>
			
		</div>
		
		</div>

</div>
