@import "../../../styles";

.notif-item {
  display: block;
  margin: auto -5px;
  border-radius: 10px;
  cursor: pointer;

  strong {
    font-weight: 500;
  }

  &:hover {
    background-color: #eee;
  }

  .container {
    display: flex;
    align-items: center;
    position: relative;
  }
  .content {
    display: flex;
    position: relative;
    padding: 7px 5px;
    column-gap: 10px;
    align-items: center;

    .mark-as-read {
      cursor: pointer;
      position: absolute;
      width: 12px;
      height: 12px;
      right: 7px;
      border-radius: 50%;
      background-color: $btn-blue;
    }


    .avatar {
      position: relative;
      .avatar-icon {
        position: absolute;
        display: flex;
        bottom: -20%;
        right: -10%;
      }

      .img-container {
        width: 56px;
        height: 56px;
        border-radius: 50%;
        overflow: hidden;
        border: 1px solid rgba(#333, .2);

        img {
          object-fit: cover;
          aspect-ratio: 1;
          width: 100%;

        }
      }
    }

    .body {
      .notif-text {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
      }

      .ago {
        font-size: 14px;
      }
    }
  }
}
  .mark-as-read {
    cursor: pointer;
    position: absolute;
    width: 12px;
    height: 12px;
    right: 10px;
    border-radius: 50%;
    background-color: $btn-blue;
  }

