<nav class="navbar">
  <div>
    <div class="logo-search">
      <div class="logo">
        <a [routerLink]="''">
          <i class='bx bxs-meteor'></i>
        </a>
      </div>
      <div class="search">
        <form [formGroup]="searchForm">
          <div (click)="showSearchBar()"
               (clickOutside)="hideSearchBar()"
               clickOutsideEvents="mousedown,click"
               class="input-group">
            <div class="icon-wrapper">
              <span class="flex-center icon">
                <i data-visualcompletion="css-img"
                   class="hu5pjgll lzf7d6o1"
                   style="background-image: url(&quot;https://static.xx.fbcdn.net/rsrc.php/v3/y2/r/9ZjkTnUGFaz.png&quot;); background-position: -17px -109px; background-size: auto; width: 16px; height: 16px; background-repeat: no-repeat; display: inline-block;"></i>
              </span>
            </div>
            <input #searchInput
                   (keyup.enter)="search($event)"
                   type="text"
                   placeholder="Tìm kiếm..."
                   id="search"
                   name="search"
                   autocomplete="off">
          </div>
        </form>
      </div>
    </div>

    <ul class="menu">
      <li class="home"
          Label
          [delay]="200"
          labelText="News feed"
          [ngClass]="{'menu-active-div': homeRla.isActive}">
        <a routerLink=""
           [routerLinkActiveOptions]="{exact: true}"
           routerLinkActive="menu-routerLink-active"
           #homeRla="routerLinkActive">
          <i *ngIf="!homeRla.isActive"
             class='bx bx-home-circle'></i>
          <i *ngIf="homeRla.isActive"
             class='bx bxs-home-circle'></i>
        </a>
      </li>
      <li class="home"
          Label
          [delay]="200"
          labelText="Bạn bè"
          [ngClass]="{'menu-active-div': friendRla.isActive}">
        <a [routerLink]="'/friends'"
           [routerLinkActiveOptions]="{exact: true}"
           #friendRla="routerLinkActive"
           routerLinkActive="menu-routerLink-active">
          <i *ngIf="!friendRla.isActive"
             class='bx bx-group'>
          </i>
          <i *ngIf="friendRla.isActive"
             class='bx bxs-group'>
          </i>
        </a>
      </li>
      <li [ngClass]="{'menu-active-div': groupRla.isActive}"
          Label
          [delay]="200"
          labelText="Nhóm"
          class="home">
        <a [routerLink]="'/groups/feed'"
           #groupRla="routerLinkActive"
           [routerLinkActiveOptions]="{exact: true}"
           routerLinkActive="menu-routerLink-active">
          <i *ngIf="!groupRla.isActive"
             class='bx bx-network-chart'>
          </i>
          <i *ngIf="groupRla.isActive"
             class='bx bxs-network-chart'>
          </i>
        </a>
      </li>
    </ul>
    <div class="options">
      <div class="home-shortcut">
        <div class="pill-container">
          <a routerLinkActive="route-active"
             routerLink="/{{ principalProfileId }}"
             [routerLinkActiveOptions]="{exact: true}"
             class="pill">
            <span class="avatar">
              <img [src]="(principalAvatarUrl | sirv: 40) || 'https://xulgon.sirv.com/assets/avatar.jpg'">
            </span>
            <span class="username">
              <span>{{ principalName }}</span>
            </span>
          </a>
        </div>
      </div>
      <ul class="notis">
        <li>
          <div Label
               [delay]="200"
               labelText="Tạo bài viết"
               class="wrapper">
            <div (click)="showCreatePost()">
              <i data-visualcompletion="css-img"
                 class="hu5pjgll lzf7d6o1"
                 style="background-image: url(&quot;https://static.xx.fbcdn.net/rsrc.php/v3/yk/r/CyIf5CnpsZd.png&quot;); background-position: 0px -505px; background-size: auto; width: 20px; height: 20px; background-repeat: no-repeat; display: inline-block;"></i>
            </div>
          </div>
        </li>
        <li>
          <app-chat-notification></app-chat-notification>
        </li>
        <li>
          <app-notification></app-notification>
        </li>
        <li>
          <div class="wrapper">
            <div [ngClass]="{'route-active': moreOptsVisible}"
                 id="more-opt-button"
                 Label
                 [delay]="200"
                 labelText="Thêm"
                 (click)="moreOptsVisible = !moreOptsVisible"
                 class="more-opts">
              <svg fill="currentColor"
                   viewBox="0 0 20 20"
                   width="1em"
                   height="1em"
                   class="a8c37x1j ms05siws l3qrxjdp b7h9ocf4 rs22bh7c jnigpg78 odw8uiq3">
                <path
                      d="M10 14a1 1 0 0 1-.755-.349L5.329 9.182a1.367 1.367 0 0 1-.205-1.46A1.184 1.184 0 0 1 6.2 7h7.6a1.18 1.18 0 0 1 1.074.721 1.357 1.357 0 0 1-.2 1.457l-3.918 4.473A1 1 0 0 1 10 14z">
                </path>
              </svg>
            </div>
            <div (clickOutside)="moreOptsVisible = false"
                 exclude="#more-opt-button"
                 [hidden]="!moreOptsVisible"
                 class="more-opts__items">
              <a routerLink="/{{ principalProfileId }}"
                 class="to-profile">
                <div class="avatar">
                  <img [src]="(principalAvatarUrl | sirv: 100) || 'https://xulgon.sirv.com/assets/avatar.jpg'"
                       alt="">
                </div>
                <div class="body">
                  <div class="username">{{ principalFullName }}</div>
                  <div class="text">Xem trang cá nhân của bạn</div>
                </div>
              </a>
              <hr>
              <div (click)="logout()"
                   class="item logout">
                <div class="icon">
                  <i data-visualcompletion="css-img"
                     class="hu5pjgll lzf7d6o1"
                     style="background-image: url(&quot;https://static.xx.fbcdn.net/rsrc.php/v3/yi/r/QnBF2xVFFiX.png&quot;); background-position: 0px -46px; background-size: auto; width: 20px; height: 20px; background-repeat: no-repeat; display: inline-block;"></i>
                </div>
                <span>Đăng xuất</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
