<div class="post">
  <div 
  (click)="isPostOptsVisible = !isPostOptsVisible"
  class="options">
    <i class='bx bx-dots-horizontal-rounded' ></i>
    <div 
    (clickOutside)="isPostOptsVisible = false"
    [delayClickOutsideInit]="true"
    *ngIf="isPostOptsVisible"
    class="options-list">
      <div >
        <i class='bx bx-trash' ></i>
        <span>Xoá bài viết</span>
      </div>
    </div>
  </div>
  <div class="post-header">
    <div class="avatar-name">
      <div class="post-avatar">
        <app-user-ref
        borderRadius="50%"
        [userDto]="post.user"
        ></app-user-ref>
      </div>
      <div class="name-date" style="position: relative;">
        <div class="name">
          <app-user-ref
          [userDto]="post.user"></app-user-ref>
        </div>
        <div class="date--privacy">
          <span>{{ post.createdAt }}</span>
          <span class="privacy">
            <i 
            *ngIf="post.privacy == 'FRIEND'"
            class='bx bxs-group' ></i>

            <i class='bx bx-globe' 
            *ngIf="post.privacy == 'PUBLIC'"
            ></i>

            <i class='bx bxs-lock-alt' 
            *ngIf="post.privacy == 'ME'"
            ></i>

            <i 
            *ngIf="post.privacy == 'GROUP'"
            class='bx bxs-network-chart' ></i>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="post-body">
    <div class="post-text">{{ post.body }}</div>
    <div *ngIf="post.photos?.length > 0" class="post-media">
      
          <div>
            <div *ngFor="let photo of post.photos.slice(0, 2)">
              <div>
                <app-photo [style]="'width'" [photo]="photo"></app-photo>
              </div>
            </div>
          </div>
          <div>
            <div *ngFor="let photo of post.photos.slice(2, 4)">
              <div>
                <app-photo [style]="'width'" [photo]="photo"></app-photo>
              </div>
            </div>
          </div>
    </div>
    
  </div>
  <div class="post-meta">
    <div>
      <div *ngIf="post.reactionCount > 0" class="flex-center reaction-count">
        <img src="assets/like.svg" style="margin-right: 2px;"> {{ post.reactionCount }}
      </div>
    </div>
    <div class="comment-share-count">
      <span (click)="toggleComment()" *ngIf="post.commentCount > 0" class="comment-count">{{ post.commentCount }} bình luận</span>
      <span *ngIf="post.shareCount > 0" class="share-count">{{ post.shareCount }} lượt chia sẻ</span>
    </div>
  </div>

  <div class="post-actions">
    <div (click)="react()" class="reaction-action">
      <span
      [ngStyle]="{'color': post.isReacted ? '#1876F2' : 'inherit'}">

        <i *ngIf="!post.isReacted" class='bx bx-like' ></i>
        <i *ngIf="post.isReacted" class='bx bxs-like'></i> 
        <span>Thích</span>
      </span>
    </div>
    <div class="comment-action" (click)="comment()">
      <span>
        <i class='bx bx-message-alt'></i> Bình luận
      </span>
    </div>
    <div *ngIf="post.privacy == 'PUBLIC'" class="share-action">
      <span>
        <i class='bx bx-share'></i>
        <span>Chia sẻ</span>
      </span>
    </div>
  </div>
  <div 
  *ngIf="showComment" 
  class="comments">
    <app-comment-list 
    [comments]="post.comments" 
    [contentId]="post.id"></app-comment-list>
  </div>
</div>