<div class="post">
  <div class="post-header">
    <div class="avatar-name">
      <div class="post-avatar">
        <a href="http://localhost:4200/{{ post.userId }}">
          <img [src]="post?.avatarUrl" />
        </a>
      </div>
      <div class="name-date">
        <div class="name">
          <a href="http://localhost:4200/{{ post.userId }}">
            {{ post.username }}
          </a>
        </div>
        <div class="date">{{ post.createdAt }}</div>
      </div>
    </div>
  </div>
  <div class="post-body">
    <div class="post-text">{{ post.body }}</div>
    <div *ngIf="post.photos?.length > 0" class="post-media">
      
          <div>
            <div *ngFor="let photo of post.photos.slice(0, 2)">
              <div>
                <app-photo [style]="'width'" [photo]="photo"></app-photo>
              </div>
            </div>
          </div>
          <div>
            <div *ngFor="let photo of post.photos.slice(2, 4)">
              <div>
                <app-photo [style]="'width'" [photo]="photo"></app-photo>
              </div>
            </div>
          </div>
    </div>
    
  </div>
  <div class="post-meta">
    <div>
      <div *ngIf="post.reactionCount > 0" class="flex-center reaction-count">
        <img src="assets/like.svg" style="margin-right: 2px;"> {{ post.reactionCount }}
      </div>
    </div>
    <div class="comment-share-count">
      <span (click)="toggleComment()" *ngIf="post.commentCount > 0" class="comment-count">{{ post.commentCount }} bình luận</span>
      <span *ngIf="post.shareCount > 0" class="share-count">{{ post.shareCount }} lượt chia sẻ</span>
    </div>
  </div>

  <div class="post-actions">
    <div (click)="react()" class="reaction-action">
      <span>
        <i class='bx bx-like' ></i> Thích
      </span>
    </div>
    <div class="comment-action" (click)="comment()">
      <span>
        <i class='bx bx-message-alt'></i> Bình luận
      </span>
    </div>
    <div *ngIf="post.shareCount > 0" class="share-action">
      <span>
        <i class='bx bx-network-chart'></i> Chia sẻ
      </span>
    </div>
  </div>
  <div class="comments">
    <app-comment-list [comments]="post.comments" *ngIf="showComment" [contentId]="post.id"></app-comment-list>
  </div>
</div>