<div class="post">
  <div class="opts-container">
    <app-button optionsAlignment="RIGHT"
                [hasOptions]="true"
                width="40px"
                height="40px"
                [isRounded]="true"
                background="transparent"
                backgroundHover="#f0f2f5">
      <div button>
        <i class='bx bx-dots-horizontal-rounded'></i>
      </div>
      <div options>
          <!-- <div>
            <i class='bx bx-group' ></i>
            <span>Chỉnh sửa riêng tư</span>
          </div> -->

        <div (click)="unfollow()"
             *ngIf="post.isFollow">
          <i class='bx bx-bell-off' ></i>
          <span>Tắt thông báo với bài viết này</span>
        </div>

        <div (click)="follow()"
             *ngIf="!post.isFollow">
          <i class='bx bx-bell' ></i>
          <span>Bật thông báo với bài viết này</span>
        </div>

        <div (click)="delete()"
             *ngIf="post.user.id == principalId || groupReponse?.role == 'ADMIN'">
          <i class='bx bx-trash'></i>
          <span>Xoá bài viết</span>
        </div>
      </div>
    </app-button>
  </div>

  <div class="post-header">
    <app-post-header [content]="post"
                     [isPageNameVisible]="isGroupNameVisible">
    </app-post-header>
  </div>
  
  <div class="post-body">
    <div class="post-body__text">{{ post.text }}</div>

    <div class="media">
      <app-media-layout [photos]="post.type == 'POST' ? post.photos : []"
                        [photoSetId]="post.photoSetId"
                        [photoCount]="post.photoCount" >
      </app-media-layout>
    </div>

    <app-shared-content [content]="post.sharedContent"
                        mediaMargin="0px -15px"
    ></app-shared-content>
  </div>
  <div class="post-meta">
    <div>
      <div *ngIf="post.reactionCount > 0" 
           class="flex-center reaction-count">
        <img src="assets/like-16x16.png" 
             style="margin-right: 2px;"> {{ post.reactionCount }}
      </div>
    </div>
    <div class="comment-share-count">
      <span (click)="toggleComment()"
            *ngIf="post.commentCount > 0"
            class="comment-count">
        {{ post.commentCount }} bình luận
      </span>
      <span *ngIf="post.shareCount > 0"
            class="share-count">
        {{ post.shareCount }} lượt chia sẻ
      </span>
    </div>
  </div>

  <div class="post-actions">
    <div (click)="react()" class="reaction-action">
      <span [ngStyle]="{'color': post.isReacted ? '#1876F2' : 'inherit'}">
        <i *ngIf="!post.isReacted" class='bx bx-like'></i>
        <i *ngIf="post.isReacted" class='bx bxs-like'></i>
        <span>Thích</span>
      </span>
    </div>
    <div class="comment-action" (click)="comment()">
      <span>
        <i class='bx bx-message-alt'></i> Bình luận
      </span>
    </div>
    <div (click)="share()" 
         *ngIf="post.privacy == 'PUBLIC'|| post.sharedContent?.privacy == 'PUBLIC'" 
         class="share-action">
      <span>
        <i class='bx bx-share'></i>
        <span>Chia sẻ</span>
      </span>
    </div>
  </div>
  <div [hidden]="!isCommentVisible"
       class="comments">
    <app-comment-list [totalCommentCount]="post.commentCount"
                      [initCommentCount]="initCommentCount"
                      [parentId]="post.id"
                      [rootContentId]="post.id"></app-comment-list>
  </div>
</div>
<app-create-post *ngIf="post.privacy == 'PUBLIC' || post.sharedContent"
                 [sharedContent]="post.sharedContent || post"
                 [open$]="openCreatePostToShare$">
</app-create-post>
