@import 'src/styles';

.post {
  @include scrollbar(15px);

  background-color: #fff;
  padding-bottom: 0;
  position: relative;
  padding: 10px 15px;
  max-height: 100%;
  border-radius: 10px;

  .options {
    @include x-btn(35px, #444, rgba(#ddd, .7));
    right: 10px;

    i {
      font-size: 25px;
    }

    .options-list {
      @extend %opts;
      bottom: auto;
      top: 120%;
      right: 0;
    }


  }
  .post-header {
    background-color: #fff;
    width: 100%;
    box-sizing: border-box;

    .avatar-name {
      width: 100%;
      display: flex;

      .post-avatar {
        width: 45px;
        position: relative;
        height: 45px;
        margin-right: 10px;

        img {
          object-fit: cover;
          width: 100%;
        }
      }

      .name-date {
        font-weight: 500;

        .date--privacy {
          font-size: 13px;
          color: grey;
          display: flex;

          .privacy {
            display: flex;
            align-items: center;
            font-size: 15px;
            margin-left: 5px;
          }
        }
      }
    }
  }

  .post-body {
    min-height: 20px;
    margin-top: 10px;
    
    .post-media {
      padding: 0;
      // border: var(--border);
      overflow: hidden;
      margin: 0 -15px;
      margin-top: 15px;
      

      > div {
        display: flex;
        width: 100%;
        box-sizing: border-box;
        justify-content: space-between;

        > * {
          margin-bottom: 2px;
        }

        &:last-child {
          margin-bottom: 0;
        }

        > div {
          flex-grow: 1;
          overflow: hidden;
          flex-basis: 50%;

          &:not(:last-child) {
            margin-right: 5px;
          }

          > div {
            width: 100%;
            aspect-ratio: 1;
          }
        } 

      }
    }
  }

  .post-meta {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 14px;
    color: grey;
    
    .reaction-count, .comment-count, .share-count {
      cursor: pointer; 
      &:hover {
        text-decoration: underline;
      }
    }

    .comment-count {
      margin-right: 15px;
    }
  }

  .post-actions {
    display: flex;
    border-top: 1px solid #00000033;
    margin-top: 10px;
    padding: 5px 0;
    color: grey;
    font-weight: 500;

    > * {
      border-radius: 5px;
      @extend %flex-center;
      width: 100%; 
      padding: 6px 0px;
      height: 20px;
      cursor: pointer;

      &:hover {
        background-color: #efefef;
      }

      span {
        @extend %flex-center;
      }

      i {
        margin-right: 7px;
        font-size: 20px;
      }
    }

  }
}

a {
  &:hover {
    text-decoration: underline;
    text-decoration-thickness: 1px;
  }
}
