:root {
  --bg-color: #f0f2f5;
  --bg-color-hover: #777;
  --btn-blue: #1877f2;
  --border: 1px solid #00000033;
  --primary-text: #000000;
  --secondary-text: #65676b;
  font-size: 15px;
  font-weight: normal;
  font-family: 'Segoe UI';
  color: #050505;
}

$btn-blue: #1877f2;
$btn-grey: #D8DADF;
$active-tab: #1876F2;

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

.secondary-text {
  font-size: 13px;
  font-weight: 400;
}

.visible {
  // visibility: visible;
  opacity: 1;
}

.hidden {
  // visibility: hidden;
  opacity: 0;
}

.none {
  display: none;
}

.loading {
  border-radius: 20px;
  background-color: #eee;
  height: 20px;
  color: transparent;
}

.mr-10 {
  margin-right: 10px;
}

.ml-10 {
  margin-left: 10px;
}

div {
  // border: 1px solid red;
}

.w-500 {
	font-weight: 500;
}

.f-17 {
  font-size: 17px;
}

.mb-20 {
  margin-bottom: 20px;
}

@mixin card($br) {
  border-radius: $br;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(#000, .2);
  // overflow: hidden;
}

@mixin x-btn($sz, $fg, $hover) {
  height: $sz;
  width: $sz;
  border-radius: 50%;
  position: absolute;
  font-size: 34px;
  color: $fg;
  background-color: transparent;
  cursor: pointer;

  &:hover {
    background-color: $hover;
  }

  @extend %fc;
}

@mixin button($bg, $fg) {
  @extend %fc;
  height: 37px;
  padding: 0 15px;
  border-radius: 5px;
  background-color: $bg;
  font-family: 'Segoe UI';
  font-weight: 600;
  font-size: 16px;
  color: $fg;
  cursor: pointer;
  position: relative;
  border: none;
  outline: none;

  &:hover {
    background-color: darken($bg, 3%);
  }
}

@mixin scrollbar($w) {

  &::-webkit-scrollbar-track {
    background-color: transparent;
    width: 20px;
    &:hover {
      background-color: rgba(#000, .05);
    }
  }

  &::-webkit-scrollbar {
    width: $w;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    border: 3px solid transparent;
    background-clip: content-box;
    background-color: #fff;
    transition: background-color .3s;
  }

  &:hover {
    &::-webkit-scrollbar-thumb {
      background-color: rgba(#777, .3);
    }
  }

}


.mr-5 {
  margin-right: 5px;
}

.hover-underline {
  &:hover {
    text-decoration: underline;
      text-decoration-thickness: 1px;
      cursor: pointer;
  }
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #f0f2f5;
}

body {
  overflow-y: scroll;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;

  &:visited {
    color: inherit;
  }
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%fc {
  display: flex;
  justify-content: center;
  align-items: center;
}

%fz {
  width: 100%;
  height: 100%;
}

%opts {
  position: absolute;
  font-weight: 500;
  font-size: 15px;
  padding: 5px 5px;
  cursor: pointer;
  min-width: 200px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: -4px 4px 15px rgba(#333, .4);
  color: #000;
  bottom: 110%;

  > div {
    display: flex;
    align-items: center;
    padding: 5px 5px;
    border-radius: 5px;

    i {

      margin-right: 8px;
      font-size: 17px;
    }

    &:hover {
      background-color: rgba(#eee, .8);
    }
  }
}

%f-scr {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
