:root {
  --bg-color: #f0f2f5;
  --bg-color-hover: #777;
  --btn-blue: #1877f2;
  --border: 1px solid #00000033;
  --primary-text: #000000;
  --secondary-text: #65676b;
  font-size: 15px;
  font-weight: normal;
  font-family: 'Segoe UI', Arial
}

$btn-blue: #1877f2;

div {
  // border: 1px solid red;
}

@mixin card($br) {
  border-radius: $br;
  box-shadow: 0 1px 2px rgba(#000, .2);
  overflow: hidden;
}

@mixin x-btn($sz, $fg, $hover) {
  height: $sz;
  width: $sz;
  border-radius: 50%;
  position: absolute;
  font-size: 34px;
  color: $fg;
  background-color: transparent;
  cursor: pointer;

  &:hover {
    background-color: $hover;
  }

  @extend %flex-center;
}

@mixin button($bg, $fg) {
  height: 37px;
  padding: 0 12px;
  border-radius: 5px;
  background-color: $bg;
  font-family: 'Segoe UI';
  font-weight: 600;
  font-size: 16px;
  color: $fg;
  cursor: pointer;
  border: none;
  outline: none;
  &:hover {
    background-color: darken($bg, 3%);
  }
}

@mixin scrollbar() {
  $scrollbar-width: 15px;

  &::-webkit-scrollbar-track {
    background-color: transparent;
    width: 20px;
    &:hover {
      background-color: rgba(#000, .05);
    }
  }

  &::-webkit-scrollbar {
    width: $scrollbar-width;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    border: 3px solid transparent;
    background-clip: content-box;
    background-color: #fff;
    transition: background-color .3s;
  }

  &:hover {
    &::-webkit-scrollbar-thumb {
      background-color: rgba(#777, .3);
    }
  }

  margin-right: - $scrollbar-width;
}


.hover-underline {
  &:hover {
    text-decoration: underline;
      text-decoration-thickness: 1px;
      cursor: pointer;
  }
}

body, html {
  margin: 0;
  position: relative;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #f0f2f5;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;

  &:visited {
    color: inherit;
  }
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%fz {
  width: 100%;
  height: 100%;
}