:root {
  --bg-color: #f0f2f5;
  --bg-color-hover: #777;
  --btn-blue: #1877f2;
  --border: 1px solid #00000033;
  --primary-text: #000000;
  --secondary-text: #65676b;
  font-size: 15px;
  font-weight: normal;
  // font-family: 'Segoe UI';
  // font-family: 'Helvetica Nueue';
  color: #050505;
}

$modal-z-index: 1000;
$z-indexes: (
  "toaster",
  "user-ref",
  "modal",
  "navbar",
  "popup",
);
@function z($name) {
    @if index($z-indexes, $name) {
        @return ($modal-z-index - index($z-indexes, $name));
    } @else {
        @warn 'There is no item "#{$name}" in this list; choose one of: #{$z-indexes}';
        @return null;
    }
}

$bg-color: #f0f2f5;
$secondary-text: #65676b;
$btn-blue: #1877f2;
$secondary-button-background: #e4e6eb;
$btn-grey: #D8DADF;
$active-tab: #1876F2;
$btn-green: #00a400;

$box-shadow-narrow: 0 1px 2px rgba(#000, .2);
$box-shadow-wide: 0 12px 28px 0 rgba(#000, .2), 
    0 2px 4px 0 rgba(#000, .1), 
    inset 0 0 0 1px rgba(#fff, .5);
.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

.secondary-text {
  font-size: 13px;
  font-weight: 400;
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

.none {
  display: none;
}

.show {
  display: initial;
}

.loading {
  border-radius: 20px;
  background-color: #eee;
  height: 10px;
  color: transparent;
}

.mr-10 {
  margin-right: 10px;
}

.ml-10 {
  margin-left: 10px;
}

div {
  // border: 1px solid red;
}

%avatar {
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid rgba(#333, .2);

  img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1;
  }
}

.w-500 {
	font-weight: 500;
}

.f-17 {
  font-size: 17px;
}

.mb-20 {
  margin-bottom: 20px;
}

@mixin card($br) {
  border-radius: $br;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(#000, .2);
  // overflow: hidden;
}

@mixin x-btn($sz, $fg, $hover) {
  @extend %fc;
  user-select: none;
  height: $sz;
  width: $sz;
  border-radius: 50%;
  position: absolute;
  font-size: 34px;
  color: $fg;
  background-color: transparent;
  cursor: pointer;

  &:hover {
    background-color: $hover;
  }

  &:active {
    animation: clickScale .1s ease 1;
  }
}

@mixin button($bg, $fg) {
  @extend %fc;
  height: 37px;
  padding: 0 15px;
  border-radius: 5px;
  background-color: $bg;
  font-weight: 500;
  font-size: 16px;
  color: $fg;
  font-family: inherit;
  cursor: pointer;
  position: relative;
  border: none;
  outline: none;
  transition: 200ms cubic-bezier(.08,.52,.52,1) background-color, 
              200ms cubic-bezier(.08,.52,.52,1) box-shadow, 
              200ms cubic-bezier(.08,.52,.52,1) transform; 

  &:hover {
    background-color: darken($bg, 5%);
  }

  &:active {
    animation: clickScale .1s ease 1; 
  }

}

@keyframes clickScale {
  0% {
    transform: scale(1);
  } 
  50% {
    transform: scale(.96);
  }
  100% {
    transform: scale(1);
  }
}

@mixin scrollbar($w) {

  &::-webkit-scrollbar-track {
    background-color: transparent;
    width: 20px;
    &:hover {
      background-color: rgba(#000, .05);
    }
  }

  &::-webkit-scrollbar {
    width: $w;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    border: 3px solid transparent;
    background-clip: content-box;
    background-color: #fff;
    transition: background-color .3s;
  }

  &:hover {
    &::-webkit-scrollbar-thumb {
      background-color: rgba(#777, .3);
    }
  }
}


img {
  user-select: none;
}

.mr-5 {
  margin-right: 5px;
}

.hover-underline {
  &:hover {
    text-decoration: underline;
      text-decoration-thickness: 1px;
      cursor: pointer;
  }
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #f0f2f5;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  // min-height: fit-content;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;

  &:visited {
    color: inherit;
  }
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%fc {
  display: flex;
  justify-content: center;
  align-items: center;
}

%fz {
  width: 100%;
  height: 100%;
}

%opts {
  position: absolute;
  font-weight: 500;
  font-size: 16px;
  padding: 7px 7px;
  cursor: pointer;
  min-width: 200px;
  background-color: #fff;
  border-radius: 5px;
  user-select: none;
  white-space: nowrap;
  // box-shadow: 0 0 28px 0 rgba(#000, .2),0 0 4px 0 rgba(#000, .1),
  //       inset 0 0 0 1px rgba(#fff, .5);
  box-shadow: $box-shadow-wide;
  color: #050505;
  top: calc(100% + 9px + 3px);
  left: 50%;
  transform: translateX(-50%);

  &::before {
    content: "\A";
    border-style: solid;
    border-width: 0 8px 9px 8px;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
  }

  > div, a {
    display: flex;
    align-items: center;
    padding: 7px 7px;
    border-radius: 5px;

    i {
      margin-right: 10px;
      font-size: 25px;
    }

    &:hover {
      background-color: rgba(#eee, .8);
    }
  }
}

input {
  font-family: inherit;
}

%input-group {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;

  i {
    font-size: 20px;
    position: absolute;
    left: 10px;

  }

  input {
    @extend %fz;
    box-sizing: border-box;
    font-size: 15px;
    padding: 0 15px;
    padding-left: 35px;
    display: block;
    outline: none;
    border: none;
    background-color: #f0f2f5;
    border-radius: 20px;
  }
}

%f-scr {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.x-icon {
  filter: invert(100%); 
  background-image: url('assets/icons.png'); 
  background-position: -105px -67px; 
  background-size: auto; 
  width: 20px; 
  height: 20px; 
  background-repeat: no-repeat; 
  display: inline-block;
}

.x-icon-small {
  background-image: url('assets/icons.png'); 
  background-position: -167px -109px; 
  background-size: auto; 
  width: 11px; 
  height: 11px; 
  background-repeat: no-repeat; 
  display: inline-block;
}

.right-arrow {
  background-image: url('assets/icons.png'); 
  background-position: -83px -13px; 
  background-size: auto; 
  width: 24px; 
  height: 24px; 
  background-repeat: no-repeat; 
  display: inline-block;
}

.left-arrow {
  background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/y6/r/lwBekknsaqF.png'); 
  background-position: -37px -122px; 
  background-size: auto; 
  width: 24px; 
  height: 24px; 
  background-repeat: no-repeat; 
  display: inline-block;
}

@keyframes loading-animation {
  0% {
    background-color: #ddd;
  }

  50% {
    background-color: #eee;
  }

  100% {
    background-color: #ddd;
  }
}

%loading-animation {
  animation: loading-animation 2.5s infinite;
}

html, body { height: 100%; }
body { margin: 0; font-family:  'Segoe UI', Roboto, "Helvetica Neue", sans-serif; }

input::-ms-reveal,
input::-ms-clear {
  display: none;
}