@import "../../styles";

// div {
// 	border: 1px solid red;
// }

.search {
  position: relative;

  &__inner {
    display: flex;

    .sidebar-container {
      flex: 0 0 360px;
      box-sizing: border-box;

      .sidebar {
        position: fixed;
        background-color: #fff;
        box-shadow: 1px 0 5px rgba(#000, .2);
        top: 56px;
        left: 0;
        box-sizing: border-box;
        bottom: 0;
        width: 360px;
        padding: 15px;

        &__title {
          font-size: 24px;
          font-weight: 700;
          padding: 10px 0;
          border-bottom: 1px solid rgba(#333, .2);
        }

        .filters {
          .title {
            font-weight: 500;
            font-size: 17px;
            padding: 8px;
          }

          .filter {
            display: flex;
            align-items: center;
            font-weight: 500;
            border-radius: 10px;
            padding: 8px 10px;
            cursor: pointer;

            &:hover {
              background-color: rgba(#ddd, .8);
            }

            .icon-container {
              margin-right: 10px;

              .icon {
                @extend %fc;
                width: 36px;
                height: 36px;
                border-radius: 50%;
                background-color: #e4e6eb;

                i {
                  font-size: 23px;
                }


              }
            }

            .name {

            }
          }
        }
      }

    }

    .content {
      @extend %fz;
    }
  }
}

.active {
  background-color: #e7f3ff;

  &:hover {
    background-color: #e7f3ff !important;
  }

  .icon {
    background-color: $btn-blue !important;

    i {
      color: #fff;
    }
  }
}
