@import "src/styles";

.comment {
  margin: 10px 0;
  display: flex;
  box-sizing: border-box;

  .comment-right {
    width: 100%;
  }
  .comment-avatar {
    margin-right: 10px;
    width: 35px;
    height: 35px;

  }
  .comment-username {
    font-size: 14px;
    font-weight: 500;
  }

  .comment-options-container {
    display: flex;
    align-items: center;

    flex-grow: 1;
    color: #fff;

    &:hover {
      color: grey;
    }

    .comment-options {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 10px;

      cursor: pointer;
      width: 30px;
      height: 30px;
      box-sizing: border-box;
      border-radius: 50%;
      color: inherit;

      &:hover {
        background-color: #eeeeee;
      }
    }
  }

  .comment-body {
    display: inline-block;
    box-sizing: border-box;
    padding: 7px 15px;
    border-radius: 15px;
    background-color: var(--bg-color);
    overflow-wrap: break-word;
    word-break: break-all;
    position: relative;

    .reaction-count {
      position: absolute;
      border-radius: 15px;
      background-color: #fff;
      padding: 1px 4px;
      box-shadow: -1px 1px 2px 0px #00000033;
      font-size: 13px;
      right: -25px;
      bottom: -5px;

      display: flex;
      align-items: center;

      img {
        margin-right: 2px;
      }
    }
  }

  .comment-media {
    display: inline-block;
    border-radius: 15px;
    border: 1px solid rgba(#555, .2);
    overflow: hidden;
    max-width: 80%;
    height: 210px;
    
    img {
      height: 100%;
      width: auto;
    }
  }

  .comment-meta {
    font-size: 13px;
    color: #808080;
    margin-left: 5px;
    margin-top: 2px;
  }
  

  .comment-reply-container {
    margin-top: 2px;

    .placeholder {
      color: grey;
      font-size: 14px;

    }
  }
}

a {
  &:hover {
    text-decoration: underline;
    text-decoration-thickness: 1px;
  }
}

.reacted {
  color: $btn-blue;
}