@import "src/styles";

.comment {
  margin: 10px 0;
  display: flex;
  box-sizing: border-box;

  .comment-right {
    width: 100%;
  }

  .comment-avatar {
    margin-right: 10px;
    width: 35px;
    height: 35px;
  }

  .comment-username {
    font-size: 14px;
    font-weight: 500;
  }


  .comment-options-container {
    display: flex;
    align-items: center;
    padding-left: 5px;

    [button] {
      visibility: hidden;
    }
    [options] {
      visibility: visible;
    }
  }

  .comment-body-container {
    display: flex;
    &:hover {
      .comment-options-container {
        [button] {
          visibility: visible;
        }
      }
    }
  }

  .comment-body {
    display: inline-block;
    box-sizing: border-box;
    padding: 7px 15px;
    border-radius: 15px;
    background-color: var(--bg-color);
    overflow-wrap: break-word;
    word-break: break-all;
    position: relative;

    &__text {
      white-space: pre-line;
    }

    .reaction-count {
      position: absolute;
      border-radius: 15px;
      background-color: #fff;
      padding: 1px 4px;
      box-shadow: 0 0 5px 1px #00000033;
      font-size: 13px;
      right: -25px;
      bottom: -5px;

      display: flex;
      align-items: center;

      img {
        margin-right: 2px;
      }
    }
  }
  .highlight {
    background-color: rgba($btn-blue, .15);
  }

  .comment-media {
    display: inline-block;
    border-radius: 15px;
    border: 1px solid rgba(#555, .2);
    overflow: hidden;
    max-width: 80%;
    height: 210px;

    img {
      height: 100%;
      width: auto;
    }
  }

  .comment-meta {
    font-size: 13px;
    color: #808080;
    margin-left: 5px;
    margin-top: 2px;

    .w500 {
      font-weight: 500;
    }
  }


  .comment-reply-container {
    margin-top: 2px;

    .placeholder {
      color: grey;
      font-size: 14px;

    }
  }
}

a {
  &:hover {
    text-decoration: underline;
    text-decoration-thickness: 1px;
  }
}

.reacted {
  color: $btn-blue;
}

@keyframes highlight {
  0% {
    background-color: auto;
  }

  50% {
    background-color: rgba($btn-blue, .2);
  }

  100% {
    background-color: auto;
  }
}