<div #self
     (mouseenter)="onMouseEnter()"
     (mouseleave)="onMouseLeave()"
     class="user-ref-popup">
  <div class="avatar--info">
    <div routerLink="/{{ userDto?.profileId }}"
         class="avatar">
      <img [src]="(userDto?.avatarUrl | sirv: 100) || 'assets/avatar.jpg'" />
    </div>
    <div class="info--name">
      <div routerLink="/{{ userDto?.profileId }}"
           class="name">
        <span>{{ userDto?.username }}</span>
      </div>

      <app-profile-about [isUserRefPopup]="true"
                         [infos]="userDto?.userInfo">
      </app-profile-about>
    </div>
  </div>
  <div class="actions">
    <div *ngIf="userDto?.friendshipStatus"
         class="others">
      <app-button (click)="openChatBox()">
        <div button>
          <svg _ngcontent-cvq-c116=""
               viewBox="0 0 28 28"
               alt=""
               height="20"
               width="20"
               class="a8c37x1j ms05siws hwsy1cff b7h9ocf4 rs22bh7c fzdkajry">
            <path _ngcontent-cvq-c116=""
                  d="M14 2.042c6.76 0 12 4.952 12 11.64S20.76 25.322 14 25.322a13.091 13.091 0 0 1-3.474-.461.956 .956 0 0 0-.641.047L7.5 25.959a.961.961 0 0 1-1.348-.849l-.065-2.134a.957.957 0 0 0-.322-.684A11.389 11.389 0 0 1 2 13.682C2 6.994 7.24 2.042 14 2.042ZM6.794 17.086a.57.57 0 0 0 .827.758l3.786-2.874a.722.722 0 0 1 .868 0l2.8 2.1a1.8 1.8 0 0 0 2.6-.481l3.525-5.592a.57.57 0 0 0-.827-.758l-3.786 2.874a.722.722 0 0 1-.868 0l-2.8-2.1a1.8 1.8 0 0 0-2.6.481Z">
            </path>
          </svg>
          <span>Nhắn tin</span>
        </div>
      </app-button>

      <app-friendship-button id="friendship-button"
                             [userId]="userDto?.id || -1"
                             [friendshipStatus]="userDto?.friendshipStatus || ''"
                             [userName]="userDto?.username || ''">
      </app-friendship-button>

      <app-button id="more-actions-button"
                  [hasOptions]="true">
        <div button>
          <div>
            <i class='bx bx-dots-horizontal-rounded'></i>
          </div>
        </div>

        <div options>
          <div (click)="block()">
            <img _ngcontent-fqg-c106=""
                 src="https://static.xx.fbcdn.net/rsrc.php/v3/yk/r/DrlMiDa6XlN.png"
                 alt=""
                 height="20"
                 width="20"
                 class="hu5pjgll lzf7d6o1 hoverZoom3 hoverZoomMouseover">
            <span>Chặn</span>
          </div>
        </div>
      </app-button>
    </div>
    <div class="me"></div>
  </div>
</div>