<div class="container">
  <!-- Prevent these components take space  -->
  <div style="position: absolute; left: 0; top: 0; width: 100%; height: 100%">
    <app-photo-viewer></app-photo-viewer>
    <app-toaster></app-toaster>
    <app-error-page></app-error-page>
    <app-group-share-selector></app-group-share-selector>
    <app-create-post-modal></app-create-post-modal>
    <app-confirm-dialog></app-confirm-dialog>
    <app-pick-avatar></app-pick-avatar>
    <app-user-ref-popup></app-user-ref-popup>
    <app-label></app-label>
  </div>
  <app-navbar></app-navbar>
  <router-outlet></router-outlet>
</div>
